<div class="">
  <article data-name="article-full-bleed-background">
  <div class="cf bg-img">
    <div class="fl pa3 pa4-ns black ml3 measure f3 avenir relative">
      <header class="bb b--black-70 pv4">
        <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">About</h3>
        <h4 class="f3 fw4 i lh-title mt0">A space for black women to explore and learn.</h4>
      </header>
      <section class="pt5 pb4">
        <p class="avenir lh-copy measure-narrow f3 mt0">
          <span class="courier">blackgirl.tech</span> started in 2014 as an organisation that aimed to provide a safe space for black girls and women in the tech industry and those coming into the tech industry. Since then, it has grown into a social enterprise that not only provides a safe space for black women, but that aims to make tech a safer space for black women and girls. We now run a blog, a podcast and events.
        </p>
      </section>

      <section class="pb4">
        <p class="avenir lh-copy measure-narrow-l measure dark-pink f3 mt0">
          The goal of <span class="courier">blackgirl.tech</span> isn’t to make everyone a coder but to introduce coding to those who may have never been exposed and to create an environment that fosters sharing, learning and growth.
        </p>
      </section>

      <section class="pb4">
        <p class="avenir lh-copy measure-narrow-l measure f3 mt0">
          Read our <a href="https://medium.com/blackgirl-tech-a-blog" class="link dim grow">blog</a>, listen to the <a href="https://blackgirltech.github.io/lostinthesource/" class="link grow dim">Lost in the <span class="courier">Source</span></a> podcast or take part in one of our workshops. We cover various topics from understanding code to finding your first developer role to latest gadgets. Our workshops are sponsored by Twitter and Moo and are free to attend.
        </p>
      </section>
    </div>
  </div>
</article>
</div>

<script type="text/javascript">
  $(document).ready(function (){
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
      $('.bg-img').css("background", "none")
    }
  })
</script>