<article class="cf ph3 ph5-ns pv5 helvetica vh-75-ns">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="f2-ns f3 lh-title fw5 mb3 mt0 pt3 bb bw2">
      About
    </h1>
    <h2 class="f3-ns f4 navy lh-title">
      A space for black women to explore and learn.
    </h2>

    <nav class="lh-title f5 f4-ns tc">
      <a id="show-who-we-are" class="black hover-purple dib b no-underline">Who We Are</a> | 
      <a id="show-what-we-do" class="black hover-blue dib b no-underline">What We Do</a> | 
      <a id="show-contact" class="black hover-green dib b no-underline"> Contact Us</a>
    </nav>
  </header>
  
  <div class="fn f3-ns f5 fl-ns w-50-ns pl4 gray">
    <p id="who-we-are" class="lh-copy measure mt0-ns">
      <span class="courier">blackgirl.tech</span> started in 2014 as an organisation that aimed to provide a safe space for black girls and women in the tech industry and those coming into the tech industry. Since then, it has grown into a social enterprise that not only provides a safe space for black women, but that aims to make tech a safer space for black women and girls. We now run a blog, a podcast and events.
    </p>
    <p id="who-we-are-2" class="lh-copy measure black">
      The goal of <span class="courier">blackgirl.tech</span> isn’t to make everyone a coder but to introduce coding to those who may have never been exposed and to create an environment that fosters sharing, learning and growth.
    </p>
    <p id="what-we-do" class="lh-copy measure mt0-ns dn">
      Read our <a href="https://medium.com/blackgirl-tech-a-blog" class="link dim gray grow b">blog</a>, listen to the <a href="https://blackgirltech.github.io/lostinthesource/" class="link b grow dim gray">Lost in the <span class="courier">Source</span></a> podcast or take part in one of our workshops. We cover various topics from understanding code to finding your first developer role to latest gadgets. Our workshops are sponsored by Twitter and Moo and are free to attend. 
    </p>
    <p id="contact" class="lh-copy measure dn tc mt5 gray">
      <a href="mailto:blackgirl.tech@gmail.com" class="no-underline dim gray b db ">blackgirl.tech@gmail.com</a>

      <a class="link dim dib w2 br-100 mr5 gray mt3" href="https://facebook.com/blackgirltech" title="">
        <svg data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>facebook icon</title>
          <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path>
        </svg>
        <small class="db tc">Facebook</small>
      </a>
      <a class="link dim dib w2 gray br-100 mt3" href="https://twitter.com/blackgirltech" title="">
        <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>twitter icon</title>
          <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
        </svg>
        <small class="db tc">Twitter</small>
      </a>
    </p>
  </div>
</article>

<script type="text/javascript">
  $( "#show-what-we-do" ).click(function() {
    $( "#what-we-do" ).show();
    $("#who-we-are").hide();
    $("#who-we-are-2").hide();
    $("#contact").hide();
  });
  $( "#show-who-we-are" ).click(function() {
    $( "#what-we-do" ).hide();
    $("#who-we-are").show();
    $("#who-we-are-2").show();
    $("#contact").hide();
  });
  $( "#show-contact" ).click(function() {
    $( "#what-we-do" ).hide();
    $("#who-we-are").hide();
    $("#who-we-are-2").hide();
    $("#contact").show();
  });
</script>