<nav class="pushy pushy-right">
    <div class="pushy-content">
        <ul>
            <li class="pushy-link">
                <a href="#">link 1</a>
            </li>
            <li class="pushy-link">
                <a href="#">link 2</a>
            </li>
            <li class="pushy-link">
                <a href="#">link 3</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- Your Content -->
<div id="container">

    <header>
        <i class="fa fa-bars menu-btn" aria-hidden="true"></i>
        <div id="headerInner">
            <nav>
                <div id="navWrap">
                    <span id="left">
                        <a href="#">link</a>
                        <a href="#">link</a>
                        <a href="#">link</a>
                    </span>
                    <img src="images/logo.svg" alt="">
                    <span id="right">
                        <a href="#">link</a>
                        <a href="#">link</a>
                        <a href="#">link</a>
                    </span>
                </div>
            </nav>
            <img class="hdr" src="images/hdrImg.jpg" alt="">
        </div>
    </header>

    <div class="pagesHdr" id="aboutHeader">
        <h1>About us</h1>
        <p>A space for black women to learn and explore technology.</p>
        <hr>
        <img class="one" src="images/ovalOverlay.png" alt="">
        <img class="two" src="images/ovalOverlay.png" alt="">
    </div>

    <div class="introText maxWidth aboutAreas">
        <div id="aboutImgWrap">
            <div class="innerImgWrap">
                <img src="images/aboutImg1.jpg" alt="">
                <img class="hide" src="images/aboutImg2.jpg" alt="">
                <img class="hide" src="images/aboutImg3.jpg" alt="">
            </div>
        </div>
        <p>blackgirl.tech started in 2014 as an organisation that aimed to provide a safe space for black girls and women
            in the tech industry and those coming into the tech industry. Since then, it has grown into a social enterprise
            that not only provides a safe space for black women, but that aims to make tech a safer space for black women
            and girls. We now run a blog, a podcast and events.</p>
    </div>

    <div id="purplePanel" class="aboutAreas">
        <p class="maxWidth">
            The goal of blackgirl.tech isn’t to make everyone a coder but to introduce coding to those who may have never been exposed
            and to create an environment that fosters sharing, learning and growth.
        </p>
    </div>

    <div class="teamWrap aboutAreas">
        <div class="teamArea maxWidth">
            <h2>
                Meet the Team
            </h2>
            <div class="cardWrap">
                <div class="aboutCard nudgeLeft">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Member Name</h3>
                        <p>role</p>
                        <p>twitter name</p>
                    </div>
                </div>
                <div class="aboutCard">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Member Name</h3>
                        <p>role</p>
                        <p>twitter name</p>
                    </div>
                </div>
                <div class="aboutCard nudgeLeft">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Member Name</h3>
                        <p>role</p>
                        <p>twitter name</p>
                    </div>
                </div>
            </div>

            <div class="cardWrap">
                <div class="aboutCard">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Member Name</h3>
                        <p>role</p>
                        <p>twitter name</p>
                    </div>
                </div>
                <div class="aboutCard nudgeLeft">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Member Name</h3>
                        <p>role</p>
                        <p>twitter name</p>
                    </div>
                </div>
                <div class="aboutCard">
                    <img src="" alt="">
                    <div class="cardText">
                        <h3>Member Name</h3>
                        <p>role</p>
                        <p>twitter name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partners">
        <div id="partnersWrap">
            <h2>partners/ sponsors</h2>
            <div class="pImages">
                <img src="images/partner_logo1.jpg" alt="partner logo">
            </div>
            <div class="pImages">
                <img src="images/partner_logo2.jpg" alt="partner logo">
            </div>
            <div class="pImages">
                <img src="images/partner_logo3.jpg" alt="partner logo">
            </div>
            <div class="pImages">
                <img src="images/partner_logo.jpg" alt="partner logo">
            </div>
        </div>
    </div>


    <footer>
        <div id="footerWrap">
            <div id="footerInner">
                <img src="images/logo.svg" alt="">
                <nav>
                    <a href="#">link</a>
                    <a href="#">link</a>
                    <a href="#">link</a>
                    <a href="#">link</a>
                </nav>
                <address>
                    <strong> blackgirl.tech Ltd</strong>
                    <br> Regsitered Office: The Bristol Office, 2nd Floor, 5 High Street, Westbury on Trym, Bristol, United
                    Kingdom, BS9 3BY
                    <br>Company No. 10455508
                </address>
            </div>
        </div>
    </footer>

</div>
