<div id="particles-js" class="relative h-100">
  <div class="absolute">

    <div class="row">
      <header class="col-md-12">
        <h1 class="fw1 f1 text-center">About <br><small class="fw1 f2 i">A space for black women to learn and explore technology.</small></h1>
      </header>
    </div>

    <div class="">
      <div class="row mt3 px-3">
        <section class="col-md-4 ">
          <p class="f4">
            <span class="courier">blackgirl.tech</span> started in 2014 as an organisation that aimed to provide a safe space for black girls and women in the tech industry and those coming into the tech industry. Since then, it has grown into a social enterprise that not only provides a safe space for black women, but that aims to make tech a safer space for black women and girls. We now run a blog, a podcast and events.
          </p>
        </section>

        <div class="col-md-4"> <img class="img-fluid w100" src="https://cdn-images-1.medium.com/max/800/1*DeLKOnmrzbYSEKrz5L-hnQ.jpeg"></div>
        <div class="col-md-4"><img src="https://cdn-images-1.medium.com/max/800/1*ewN-f84gqGzwQUQQRUD7Bg.jpeg"></div>
      </div>

      <div class="row">
        <section class="text-center col-md-12 bg-gold bg-img-div mt3">
          <p class="f1-ns f3 pa5-ns pa3 white lead">
            The goal of <span class="courier">blackgirl.tech</span> isn’t to make everyone a coder but to introduce coding to those who may have never been exposed and to create an environment that fosters sharing, learning and growth.
          </p>
        </section>
      </div>

      <div class="px-4">
        <div class="row mt4">
          <h2 class="fw1 f2 bb"> Core Team </h2>
        </div>

        <div class="row">
          <section class="col-md-3">
            <p class="f3 fw2">
              Lola Odelola <br>
              <small> Founder </small> <br>
              <small> @lolaodelola </small>
            </p>
          </section>

          <section class="col-md-3">
            <p class="f3 fw2">
              Rebecca Francis <br>
              <small> Operations Manager </small><br>
              <small> @rfrancis92 </small>
            </p>
          </section>

          <section class="col-md-3">
            <p class="f3 fw2">
              Derek Baker <br>
              <small> Programms Manager </small><br>
              <small> @backslashbaker </small>
            </p>
          </section>

          <section class="col-md-3">
            <p class="f3 fw2">
              Daniel Liburd <br>
              <small> Lead Tutor </small><br>
              <small> @libuk_ </small>
            </p>
          </section>
        </div>

        <div class="row">
          <section class="col-md-3">
            <p class="f3 fw2">
              Ogaga Emuveyan <br>
              <small> Media &amp; Communications Manager </small><br>
              <small> @oemuveyan </small>
            </p>
          </section>

        </div>
      </div>

      <div class="px-4">
        <div class="row mt3">
          <h2 class="fw1 f2 bb"> Advisory Board </h2>
        </div>

        <div class="row">
          <section class="col-md-3">
            <p class="f3 fw2">
              Yvonne Guobadia <br>
              <small> Senior Business Analyst </small>
            </p>
          </section>

          <section class="col-md-3">
            <p class="f3 fw2">
              Meri Williams<br>
              <small> Chief Technical Officer (Moo) </small>
            </p>
          </section>
        </div>
      </div>
      
    </div>
  </div>
</div>