<div class="row main-about-bg-img bg-img-div h-100" style="">
  <header class="col-md-12 mt7 mb7">
    <h1 class="display-1 text-center white mb0">About</h1>
    <h4 class="text-center display-4 white mt0">A space for black women to explore and learn.</h4>
  </header>
</div>

<div class="ph4">
  <div class="row mt3">
    <section class="col-md-4">
      <p class="pa1 lead">
        <span class="courier">blackgirl.tech</span> started in 2014 as an organisation that aimed to provide a safe space for black girls and women in the tech industry and those coming into the tech industry. Since then, it has grown into a social enterprise that not only provides a safe space for black women, but that aims to make tech a safer space for black women and girls. We now run a blog, a podcast and events.
      </p>
    </section>

    <div class="about-bg-img-1 col-md-4 bg-img-div"></div>
    <div class="about-bg-img-event col-md-4 bg-img-div"></div>
  </div>

  <div class="row">
    <section class="text-center col-md-12 bg-gold bg-img-div mt3">
      <p class="f1-ns f3 pa5-ns pa3 white">
        The goal of <span class="courier">blackgirl.tech</span> isn’t to make everyone a coder but to introduce coding to those who may have never been exposed and to create an environment that fosters sharing, learning and growth.
      </p>
    </section>
  </div>

  <div class="row mt3">
    <h2 class="display-4"> Core Team </h2>
  </div>

  <div class="row">
    <section class="col-md-3 bg-hot-pink pa6 br3 mr2 white">
      <p class="">
        Lola Odelola <br>
        <small> Founder </small>
      </p>
    </section>

    <section class="col-md-3 bg-hot-pink pa6 br3 mr2 white">
      <p class="">
        Rebecca Francis <br>
        <small> Operations Manager </small>
      </p>
    </section>

    <section class="col-md-3 bg-hot-pink pa6 br3 mr2 white">
      <p class="">
        Derek Baker <br>
        <small> Programms Manager </small>
      </p>
    </section>
  </div>

  <div class="row mt3">
    <h2 class="display-4"> Advisory Board </h2>
  </div>

  <div class="row">
    <section class="col-md-3 bg-dark-green pa6 br3 mr2 white">
      <p class="">
        Yvonne Guobadia <br>
        <small> Senior Business Analyst </small>
      </p>
    </section>

    <section class="col-md-3 bg-dark-green pa6 br3 mr2 white">
      <p class="">
        Meri <br>
        <small> Cheif Technical Officer (Moo) </small>
      </p>
    </section>
  </div>
</div>