<div class="h-100 mh5-ns mh2 relative avenir">
  <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3">Code of Conduct</h3>
  <p class="f3-ns f5">
    blackgirl.tech workshops are a safe space for black women and non-binary people to learn and explore technology. We use positive discrimination because we see a need for more black women and non-binary people in the UK tech industry. Some of our events will be open to others, and those events will be labeled as such. Apart from the previously mentioned positive discrimination, blackgirl.tech does not discriminate based on age, sexual orientation, religion, ability or socioeconomic status. In order that they remain safe, we have a code of conduct which we expect all volunteers and attendees to follow. A lot of it is common sense, but we also want to ensure the best possible care.
  </p>
  <div class="cf">
    <ol class="f3-ns mt0 fl-ns pr4-ns f5 b w-50-ns">
      <li>Treat each other with respect: don’t talk over people, don’t insolt people, leave slurs at the door.</li><br>
      <li> Respect other’s opinions: it’s okay to disagree, it’s not okay to talk about people’s mums because you disagree. </li><br>
      <li> Listen. </li><br>
    </ol>
    <ol class="f3-ns mt0 f5 fr-ns pl4-ns b w-50-ns">
      <li> Be aware of those around you: if someone needs help, help them. </li><br>
      <li> Be safe: don’t break health and safety procedures of the space the workshop takes place in. </li><br>
      <li> Report harrasment to the workshop leader or facilitator, who will handle it in the appropriate way. </li><br>
    </ol>
  </div>
</div>