<div class="h-100 mh5-ns mh2 relative avenir">
  <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3">Donate</h3>
  <p class="f3-ns f5">
    For the last two years we've been financing :bgt out of our own pockets and relying on donations from the wider community. We've been able to do some cool things like start a podcast and host a few events and a birthday party but we want to ramp things up in 2017. We're trying to raise <span class="b">£30, 000</span> so that we can make technology accessible to more black girls and women and so that we can really make an impact on the industry.
  </p>
  <p class="f3-ns f5">
    Every little helps, if you'd like to donate, you can do so here:
    <a class="f5 f3-ns black bg-navy lightest-blue b--lightest-blue br-pill no-underline ba grow pv2 ph3 dib" href="#">
      Donate
  </a>
  </p>

  <p class="f3-ns f5">
    Here are some of the things we'll be doing with the money:
  </p>
  <ul class="f3-ns f5 list">
    <li> <b>The :bgt Scholarship</b>: A scholarship for a black woman to attend a 3-month coding bootcamp from our pre-approved list. The fund will cover all the tuition cost for the duration of the course.</li><br>
    <li > <b>The Research Project</b>: The real demographics of the UK tech industry is unknown, we can make estimated guesses based on anecdotes but we want to know what the real numbers are that we really know what we're working with </li><br>
    <li > <b>Hardware</b>: We want to diversify our workshops to include more types of technology, including tech hardware. We want to teach more black girls and women how to build and program mini computers.  </li><br>
  </ul>
  <p class="f3-ns f5"> This is just what we'll be using some of the money for, the funds will also go towards admin fees and general running of the company. We want to keep :bgt free for those who need it most, help us do that by donating today.</p>
  <a class="f5 f3-ns black bg-navy lightest-blue b--lightest-blue br-pill no-underline ba grow pv2 ph3 mb2 dib" href="#">
      Donate
  </a>
</div>