<div class="pagesHdr" id="fundraisingHeader">

    <div class="maxWidth">

        <div id="counterWrap">
            <div class="counter">
                <span id="twentyTwo">22</span>
                <span class="small"> original tutorials</span>
            </div>
            <div class="counter">
                <span id="fortyFour">44</span>
                <span class="small">volunteers</span>
            </div>
            <div class="counter">
                <span id="twoOhTwo">202</span>
                <span class="small">event attendees</span>
            </div>
        </div>

        <hr>
        <h3>
            Highlights of 2017
        </h3>
        <a href="#" class="cta">
            Help us make 2018 even better
        </a>

    </div>
    <div class="square one"></div>
    <div class="square two"></div>
    <div class="square three"></div>
    <div class="square four"></div>
    <div class="square five"></div>
    <div class="square six"></div>
    <div class="square seven"></div>
    <div class="square eight"></div>
</div>

<div class="timeline pagePanel">
    <div class="maxWidth smaller">
        <div class="event">
            <div class="date">2014
                <hr>
            </div>
            <div class="pod odd">
                <div class="gradientBorder">
                    <div class="gradientBg">
                        XX
                        <span>xxxxxxx</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                </p>
            </div>
        </div>

        <div class="event">
            <div class="date second">2015
                <hr>
            </div>
            <div class="pod">
                <div class="gradientBorder">
                    <div class="gradientBg">
                        XX
                        <span>xxxxxxx</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                </p>
            </div>
        </div>

        <div class="event">
            <div class="date">2016
                <hr>
            </div>
            <div class="pod odd">
                <div class="gradientBorder">
                    <div class="gradientBg">
                        XX
                        <span>xxxxxxx</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                </p>
            </div>
        </div>

        <div class="timelineBorder"> </div>

    </div>
</div>

<div class="stillToCome pagePanel">
    <div class="maxWidth">
        <hr>
        <h2>
            Still to Come...
        </h2>
        <p>
            perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem
        </p>

        <div class="squareWrap">

            <div class="squares">
                <p class="single">
                    :bgt
                    <span>Internship</span>
                </p>
                <span class="circle">

                </span>
            </div>

            <div class="squares">
                <p class="single">
                    :bgt
                    <span>Scholarship</span>
                </p>
                <span class="circle">

                </span>
            </div>

            <div class="squares">
                <p class="detail third">
                    More Events
                    <span>social, networking, corporate, workshops &amp; more</span>
                </p>
                <span class="circle">

                </span>
            </div>

            <div class="squares">
                <p class="detail fourth">
                    More Original Tutorials
                    <span>javascript, ruby, rails &amp; more</span>
                </p>
                <span class="circle">

                </span>
            </div>

        </div>

        <p>
            perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem
            <a href="#" class="cta">
                make a donation
            </a>
        </p>


    </div>
</div>
