<article class="cf ph3 ph5-ns pv5 helvetica vh-75-ns">
  <header class="fn fl-ns w-50-ns pr4-ns">
    <h1 class="f2-ns f3 lh-title fw5 mb3 mt0 pt3 bb bw2">
      Get Involved
    </h1>

    <h2 class="f3-ns f4 navy lh-title">
      <span class="courier">:bgt</span> wouldn't be what it is now without the help of our supporters and those around who have offered their time, money and services to help us grow.
    </h2>
    <nav class="lh-title f5 f4-ns tc">
      <!-- <a id="show-volunteer" class="black hover-purple dib b no-underline">Volunteer</a> | --> 
      <a id="show-contribute" class="black hover-blue dib b no-underline">Contribute</a> | 
      <a id="show-donate" class="black hover-green dib b no-underline"> Donate</a>
    </nav>
  </header>
  
  <div class="fn f3-ns f5 fl-ns w-50-ns pl4">
    <!-- <p id="volunteer" class="lh-copy measure">
      We are currently looking for volunteers to help run our monthly events, the person, or people, would be liasing with the venue, workshop leader and attendees on a monthly basis to ensure everything is up-to-scratch. We will subsidise the cost of travel and provide food, if you're interested email us at <a href="mailto:blackgirl.tech@gmail.com" class="no-underline dim b black">blackgirl.tech@gmail.com</a> with the subject line <em>Events Volunteer.</em>
    </p> -->
    <p id="contribute" class="lh-copy measure mt0-ns">
      If you have something interesting to say about tech, or your expereince with tech, or if you've learnt something really cool that you think would benefit other people, you should definitely write for us. We accept pieces from 250words - 800words depending on the form and topic. Send your pitches to <a href="mailto:blackgirl.tech@gmail.com" class="no-underline dim b black">blackgirl.tech@gmail.com</a> with the subject line <em>Pitch:</em> and the title of your piece. 
    </p>
    <p id="donate" class="lh-copy measure mt0-ns dn">
      We are a non-profit and alot of what we're able to do has been down to the kind donations of people all over the world, from venue space to food to money. In order to keep going and to expand, we will depend on the donations of those who believe in what we're doing, if you would like to donate, you can do so via <a class="no-underline dim b black" href="https://paypal.me/blackgirltech">paypal</a>.<br><br>

      If your company would like to sponsor us, please email <a href="mailto:blackgirl.tech@gmail.com" class="no-underline dim b black">blackgirl.tech@gmail.com</a> with the subject line <em>Sponsor</em>. Some of our past sponsors include:<br><br>

      Twitter | Moo | 38Degrees | Maker's Academy
    </p>
  </div>
</article>

<script type="text/javascript">
  $( "#show-volunteer" ).click(function() {
    $( "#volunteer" ).show();
    $("#contribute").hide();
    $("#donate").hide();
  });
  $( "#show-contribute" ).click(function() {
    $("#contribute").show();
    $("#volunteer").hide();
    $("#donate").hide();
  });
  $( "#show-donate" ).click(function() {
    $( "#donate" ).show();
    $("#volunteer").hide();
    $("#contribute").hide();
  });
</script>