<nav class="pushy pushy-right">
    <div class="pushy-content">
        <ul>
            <li class="pushy-link">
                <a href="#">link 1</a>
            </li>
            <li class="pushy-link">
                <a href="#">link 2</a>
            </li>
            <li class="pushy-link">
                <a href="#">link 3</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- Your Content -->
<div id="container">

    <header>
        <i class="fa fa-bars menu-btn" aria-hidden="true"></i>
        <div id="headerInner">
            <nav>
                <div id="navWrap">
                    <span id="left">
                        <a href="#">link</a>
                        <a href="#">link</a>
                        <a href="#">link</a>
                    </span>
                    <img src="images/logo.svg" alt="">
                    <span id="right">
                        <a href="#">link</a>
                        <a href="#">link</a>
                        <a href="#">link</a>
                    </span>
                </div>
            </nav>
            <img class="hdr" src="images/hdrImg.jpg" alt="">
        </div>
    </header>

    <div id="content-1" class="homeContent">

        <div class="maxWidth">

            <div id="topWrap">
                <img src="images/eventImg1.jpg" alt="" class="sml">
                <img src="images/eventImg2.jpg" alt="" class="show970 mid">
                <img src="images/eventImg3.jpg" alt="" class="show970 lrg">
                <div class="textWrap">
                    <h2>LOREM IPSUM DOLOR SIT AMET</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                    <a href="#" class="cta">RSVP</a>
                </div>
            </div>

        </div>
    </div>

    <div id="content-2" class="homeContent">
            <img src="images/donateImg.jpg" alt="">
        <div class="maxWidth">
            <div id="bgWrap">
                <h2>LOREM IPSUM DOLOR SIT AMET</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                <a href="#" class="cta">donate</a>
            </div>
        </div>
    </div>

    <div id="content-3" class="homeContent">

        <div class="maxWidth">

            <div id="cardWrap">
                <div class="resourceCard">
                    <h3>resource card title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing edivt, sed do eiusmod tempor incididunt ut labore
                        et dolore magna
                    </p>
                    <span>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        html, beginners, workshop
                    </span>
                    <p class="learnMore">Learn more</p>
                </div>
                <div class="resourceCard">
                    <h3>resource card title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing edivt, sed do eiusmod tempor incididunt ut labore
                        et dolore magna
                    </p>
                    <span>
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        html, beginners, workshop
                    </span>
                    <p class="learnMore">Learn more</p>
                </div>
            </div>

            <div class="contentThreeText">
                <h2>LOREM IPSUM DOLOR SIT AMET</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore</p>
                <a href="#" class="cta">View More</a>
            </div>

        </div>

    </div>

    <div class="partners">
        <div id="partnersWrap">
            <h2>partners/ sponsors</h2>
            <div class="pImages">
                <img src="images/partner_logo1.jpg" alt="partner logo">
            </div>
            <div class="pImages">
                <img src="images/partner_logo2.jpg" alt="partner logo">
            </div>
            <div class="pImages">
                <img src="images/partner_logo3.jpg" alt="partner logo">
            </div>
            <div class="pImages">
                <img src="images/partner_logo.jpg" alt="partner logo">
            </div>
        </div>
    </div>
</div>




</div>
