<div class="mw-100 main-hero f3 cover h-100">
  <div class="w-100-ns tc pa7-ns pt6">
    <h1> <a class="no-underline courier grow dim lh-title white f1-ns f2 ma0 dib" href="/about">blackgirl.tech</a></h1>
    <h2 class="avenir fw3-ns f2-ns white ma0 fw4"> Explore. Learn. Build </h2>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function (){
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
      $('.main-hero').css("background-image", "url('https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/main-hero-mobile.png')")
    }
  })
</script>