<div class="pagesHdr" id="donorHeader">
    <h1>A special thank you to our corporate donors...</h1>
    <a href="#" class="cta">Become a Corporate Donor</a>
</div>

<div class="donorsArea">
    <div class="maxWidth">
        <div class="donorItem">
            <p>
                Donor name
            </p>
            <div class="donorImgWrap">
                <img src="./images/partner_logo2.jpg" alt="">
                <div class="donorImg">
                </div>
            </div>
            <div class="bgDesignOne"></div>
            <div class="bgDesignTwo"></div>
        </div>
        <div class="donorItem">
            <p>
                Donor name
            </p>
            <div class="donorImgWrap">
                <img src="./images/partner_logo2.jpg" alt="">
                <div class="donorImg">
                </div>
            </div>
            <div class="bgDesignOne"></div>
            <div class="bgDesignTwo"></div>
        </div>
        <div class="donorItem">
            <p>
                Donor name
            </p>
            <div class="donorImgWrap">
                <img src="./images/partner_logo2.jpg" alt="">
                <div class="donorImg">
                </div>
            </div>
            <div class="bgDesignOne"></div>
            <div class="bgDesignTwo"></div>
        </div>

        <div class="donorItem">
            <p>
                Donor name
            </p>
            <div class="donorImgWrap">
                <img src="./images/partner_logo2.jpg" alt="">
                <div class="donorImg">
                </div>
            </div>
            <div class="bgDesignOne"></div>
            <div class="bgDesignTwo"></div>
        </div>
        <div class="donorItem">
            <p>
                Donor name
            </p>
            <div class="donorImgWrap">
                <img src="./images/partner_logo2.jpg" alt="">
                <div class="donorImg">
                </div>
            </div>
            <div class="bgDesignOne"></div>
            <div class="bgDesignTwo"></div>
        </div>
        <div class="donorItem">
            <p>
                Donor name
            </p>
            <div class="donorImgWrap">
                <img src="./images/partner_logo2.jpg" alt="">
                <div class="donorImg">
                </div>
            </div>
            <div class="bgDesignOne"></div>
            <div class="bgDesignTwo"></div>
        </div>

        <div class="donorsBtm">
            <h3>Other Donors</h3>
            <ul>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
                <li>name</li>
            </ul>
        </div>
    </div>
</div>
