<div class="row" style="">
  <header class="col-md-4 offset-md-4">
    <h1 class="fw1 f1 text-center">Press</h1>
  </header>
</div>
<div class="ph4 mt3">
  <div class="row">
    <p class="f4-ns f5">
      blackgirl.tech workshops are a safe space for black women and non-binary people to learn and explore technology. Born in 2014, :bgt was created by Lola Odelola initially to give young black girls the opportunity to taste coding. Since then it has become much more, now a non-profit with monthly workshops and partnerships with Twitter, Moo, 38 Degrees and other notable organisations. The aims of :bgt is to provide opportunities where there are few, foster a sense of community for black women within the tech industry, educate allies on how to be good allies and promote diversity and inclusion within the industry.
    </p>
  </div>
  <h3>Name</h3>
  <ul class="f4-ns f5 fw3 list text-center row">
    <div class="col-md-6">
      <p>Do</p>
      <li>blackgirl.tech</li><br>
      <li> :bgt </li><br>
      <li> :bgt (<em>if your input does not allow for special charaters</em>)</li>
    </div>
    
    <div class="col-md-6 ">
      <p>Don't</p>
      <li> Black Girl Tech / black girl tech </li><br>
      <li> BlackGirlTech / blackgirltech </li><br>
      <li> BlackGirl.Tech</li><br>
      <li> Black girl tech </li><br>
      <li> :BlackGirlTech / :blackgirltech </li><br>
      <li> :blackgirl.tech </li><br>
    </div>
  </ul>
  
</div>


