<div class="footerPages">
    <span id="menu">Menu
        <i class="fa fa-plus" aria-hidden="true"></i>
    </span>
    <div class="sideBar">
        <ul>
            <h3>section title</h3>
            <li>
                <a href="#">1.1 section title</a>
            </li>
            <li>
                <a href="#">1.2 section title</a>
            </li>
            <li>
                <a href="#">1.3 section title</a>
            </li>

            <h3>section title</h3>
            <li>
                <a href="#">2.1 section title</a>
            </li>
            <li>
                <a href="#">2.2 section title</a>
            </li>
            <li>
                <a href="#">2.3 section title</a>
            </li>

            <h3>section title</h3>
            <li>
                <a href="#">3.1 section title</a>
            </li>
            <li>
                <a href="#">3.2 section title</a>
            </li>
            <li>
                <a href="#">3.3 section title</a>
            </li>

            <h3>section title</h3>
            <li>
                <a href="#">4.1 section title</a>
            </li>
            <li>
                <a href="#">4.2 section title</a>
            </li>
            <li>
                <a href="#">4.3 section title</a>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="maxWidth">

            <h1>Privacy Policy</h1>

            <p>
                <span class="sectionTitle">Owner and Data Controller</span>
                For more information about the owner, contact the following email address:

                Owner contact email: blackgirl.tech@gmail.com
            </p>

            <p>
                <span class="sectionTitle">Types of Data collected</span>
                Among the types of Personal Data that blackgirl.tech collects, by itself or through third parties, there are: email address, first name, last name, Cookies, ZIP/Postal code, gender, address and Usage Data.
                Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection.
                Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using blackgirl.tech.
                Unless specified otherwise, all Data requested by blackgirl.tech is mandatory and failure to provide this Data may make it impossible for blackgirl.tech to provide its services. In cases where blackgirl.tech specifically states that some Data is not mandatory, Users are free not to communicate this Data without consequences to the availability or the functioning of the Service.
                Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.
                Any use of Cookies – or of other tracking tools – by blackgirl.tech or by the owners of third-party services used by blackgirl.tech serves the purpose of providing the Service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.

                Users are responsible for any third-party Personal Data obtained, published or shared through blackgirl.tech and confirm that they have the third party's consent to provide the Data to the Owner.

            </p>

            <p>
                <span class="sectionTitle">Mode and place of processing the Data
                Methods of processing</span>
                The Owner takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
                The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Owner, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of blackgirl.tech (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Owner at any time.
            </p>

            <p>
                <span class="sectionTitle">Mode and place of processing the Data</span>
                <h3> Methods of processing </h3>
                The Owner takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
                The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Owner, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of blackgirl.tech (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Owner at any time.

                <h3>Legal basis of processing</h3>
                The Owner may process Personal Data relating to Users if one of the following applies:

                <ul>
                  <li>Users have given their consent for one or more specific purposes. Note: Under some legislations the Owner may be allowed to process Personal Data until the User objects to such processing (“opt-out”), without having to rely on consent or any other of the following legal bases. This, however, does not apply, whenever the processing of Personal Data is subject to European data protection law;</li>
                  <li>provision of Data is necessary for the performance of an agreement with the User and/or for any pre-contractual obligations thereof;</li>

                  <li>processing is necessary for compliance with a legal obligation to which the Owner is subject;</li>

                  <li>processing is related to a task that is carried out in the public interest or in the exercise of official authority vested in the Owner;</li>

                  <li>processing is necessary for the purposes of the legitimate interests pursued by the Owner or by a third party.</li>

                  <li>In any case, the Owner will gladly help to clarify the specific legal basis that applies to the processing, and in particular whether the provision of Personal Data is a statutory or contractual requirement, or a requirement necessary to enter into a contract.</li>
                </ul>

                <h3>Place</h3>
                The Data is processed at the Owner's operating offices and in any other places where the parties involved in the processing are located.

                Depending on the User's location, data transfers may involve transferring the User's Data to a country other than their own. To find out more about the place of processing of such transferred Data, Users can check the section containing details about the processing of Personal Data.

                Users are also entitled to learn about the legal basis of Data transfers to a country outside the European Union or to any international organization governed by public international law or set up by two or more countries, such as the UN, and about the security measures taken by the Owner to safeguard their Data.

                If any such transfer takes place, Users can find out more by checking the relevant sections of this document or inquire with the Owner using the information provided in the contact section.

                <h3>Retention time</h3>
                Personal Data shall be processed and stored for as long as required by the purpose they have been collected for.
            </p>
        </div>
    </div>
</div>
