<div class="footerPages">
    <span id="menu">Menu
        <i class="fa fa-plus" aria-hidden="true"></i>
    </span>
    <div class="sideBar">
        <ul>
            <h3>section title</h3>
            <li>
                <a href="#">1.1 section title</a>
            </li>
            <li>
                <a href="#">1.2 section title</a>
            </li>
            <li>
                <a href="#">1.3 section title</a>
            </li>

            <h3>section title</h3>
            <li>
                <a href="#">2.1 section title</a>
            </li>
            <li>
                <a href="#">2.2 section title</a>
            </li>
            <li>
                <a href="#">2.3 section title</a>
            </li>

            <h3>section title</h3>
            <li>
                <a href="#">3.1 section title</a>
            </li>
            <li>
                <a href="#">3.2 section title</a>
            </li>
            <li>
                <a href="#">3.3 section title</a>
            </li>

            <h3>section title</h3>
            <li>
                <a href="#">4.1 section title</a>
            </li>
            <li>
                <a href="#">4.2 section title</a>
            </li>
            <li>
                <a href="#">4.3 section title</a>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="maxWidth">

            <h1>Terms &amp; Conditions</h1>

            <p>
                <span class="sectionTitle">1.1 Section Title</span>
                Privacy and online safety are important to Stripe. We offer a software platform and services for helping run an internet
                business. We collect data about businesses and their customers (“Data”) when they use the platform,
                the services, and our websites (collectively, “Services”). This privacy policy describes how we collect,
                use and disclose Data. In this privacy policy, we sometimes refer to “You”. “You” may be a visitor
                to one of our websites, a user of one or more of our Services (“User”), or a customer of a User (“Customer”).
                We’ll do our best to clarify who we are referring to at various points in the policy. This policy
                does not apply to third-party websites, products, or services even if they link to our Services,
                and You should consider the privacy practices of those third-parties carefully. If You disagree with
                the practices described in this policy, You should (a) take the necessary steps to remove cookies
                from Your computer after leaving our website, and (b) discontinue Your use of our Services. Finally,
                we have also put together a Cookie Policy that describes in detail how we use cookies and similar
                technologies.
            </p>

            <p>
                <span class="sectionTitle">1.2 Section Title</span>
                Privacy and online safety are important to Stripe. We offer a software platform and services for helping run an internet
                business. We collect data about businesses and their customers (“Data”) when they use the platform,
                the services, and our websites (collectively, “Services”). This privacy policy describes how we collect,
                use and disclose Data. In this privacy policy, we sometimes refer to “You”. “You” may be a visitor
                to one of our websites, a user of one or more of our Services (“User”), or a customer of a User (“Customer”).
                We’ll do our best to clarify who we are referring to at various points in the policy. This policy
                does not apply to third-party websites, products, or services even if they link to our Services,
                and You should consider the privacy practices of those third-parties carefully. If You disagree with
                the practices described in this policy, You should (a) take the necessary steps to remove cookies
                from Your computer after leaving our website, and (b) discontinue Your use of our Services. Finally,
                we have also put together a Cookie Policy that describes in detail how we use cookies and similar
                technologies.
            </p>

            <p>
                <span class="sectionTitle">1.3 Section Title</span>
                Privacy and online safety are important to Stripe. We offer a software platform and services for helping run an internet
                business. We collect data about businesses and their customers (“Data”) when they use the platform,
                the services, and our websites (collectively, “Services”). This privacy policy describes how we collect,
                use and disclose Data. In this privacy policy, we sometimes refer to “You”. “You” may be a visitor
                to one of our websites, a user of one or more of our Services (“User”), or a customer of a User (“Customer”).
                We’ll do our best to clarify who we are referring to at various points in the policy. This policy
                does not apply to third-party websites, products, or services even if they link to our Services,
                and You should consider the privacy practices of those third-parties carefully. If You disagree with
                the practices described in this policy, You should (a) take the necessary steps to remove cookies
                from Your computer after leaving our website, and (b) discontinue Your use of our Services. Finally,
                we have also put together a Cookie Policy that describes in detail how we use cookies and similar
                technologies.
            </p>
        </div>
    </div>
</div>
