<div class="pl6 pr6 pt5">
  <h1 class="fw4 f1 orange">What We Do</h1>

  <p class="f2 fw3"> You can read, listen or take part in one of our workshops. We cover various topics from understanding code to finding your first developer role to latest gadgets. Our workshops are sponsored by Twitter and Moo and are free to attend. Find out more below.</p>

  <div class="f2 fl w-100 pl6">
    <div class="w-third fl pa2">
      <i class="fa fa-calendar-o" aria-hidden="true" style="font-size:5vw; color:white;padding-left: 3rem"></i>
      <h2 class="grow"> <a class="white" href="https://bgt-bday.eventbrite.com">Events</a></h2>
    </div>

    <div class="w-third fl pa2">
      <i class="fa fa-headphones" aria-hidden="true" style="font-size:5vw; color:white;padding-left: 5rem"></i>
      <h2 class="grow"> <a class="white" href="https://soundcloud.com/blackgirltech">Podcast</a></h2>
    </div>

    <div class="w-third fl pa2">
      <i class="fa fa-rss" aria-hidden="true" style="font-size:5vw; color:white;padding-left: 3rem"></i>
      <h2 class="grow"><a class="white">Blog</a></h2>  
    </div>
  </div>
</div>