<div class="pl6-ns pr6-ns pt5-ns pl3 pr3 pt4">
  <h1 class="fw4-ns f1-ns f2 fw5 orange">What We Do</h1>

  <p class="f2-l fw3-l f4 "> You can read, listen or take part in one of our workshops. We cover various topics from understanding code to finding your first developer role to latest gadgets. Our workshops are sponsored by Twitter and Moo and are free to attend. Find out more below.</p>

  <div class="f2-l fl-l w-100-l f4 tc">
    <div class="w-third-l fl-l pa2-l">
      <i class="fa fa-calendar-o pink-local white-ns" aria-hidden="true" style="font-size:5vw;"></i>
      <h2 class="grow dim"> <a class="white-ns pink-local" href="https://bgt-bday.eventbrite.com">Events</a></h2>
    </div>

    <div class="w-third-l fl-l pa2-l">
      <i class="fa fa-headphones pink-local white-ns" aria-hidden="true" style="font-size:5vw;"></i>
      <h2 class="grow dim"> <a class="white-ns pink-local" href="https://soundcloud.com/blackgirltech">Podcast</a></h2>
    </div>

    <div class="w-third-l fl-l pa2-l">
      <i class="fa fa-rss pink-local white-ns" aria-hidden="true" style="font-size:5vw;"></i>
      <h2 class="grow dim"><a class="white-ns pink-local">Blog</a></h2>  
    </div>
  </div>
</div>