<div id="particles-js" class="relative">
  <div class="container">
    <div class="absolute">
      <div class="row">
        <h1 class="fw1 f1 center">Memberships</h1>
      </div>
      <div class="row">
        <div class=" col-md-4 mh5 mb3 mh0-ns">
          <%= link_to "BASE", memberships_base_membership_path, class: ""%>
        </div>

        <div class=" col-md-4 mh5 mb3 mh0-ns">
          <%= link_to "CLUB", memberships_club_membership_path, class: ""%>
        </div>

        <div class="  col-md-4 mh5 mb3 mh0-ns ">
          <%= link_to "ALLY", memberships_ally_membership_path, class: ""%>
        </div>

      </div>
    </div>
  </div>
</div>
