<div id="particles-js" class="relative">
  <div class="container">
    <div class="absolute">
      <div class="row">
        <h1 class="fw1 f1 center">Memberships</h1>
      </div>
      <div class="row">
        <div class=" col-md-4 mh5 mb3 mh0-ns">
          <%= render "partials/base_membership" %>
        </div>

        <div class=" col-md-4 mh5 mb3 mh0-ns">
          <%= render "partials/club_membership" %>
        </div>

        <div class="  col-md-4 mh5 mb3 mh0-ns ">
          <%= render "partials/ally_membership" %>
        </div>
        
      </div>
    </div>
  </div>
</div>

