<div class="h-100 mw-100 pa7 avenir">
  <h1 class="fw4 f1 orange">Who We Are</h1>
  <p class="fw1 f3">
    <span class="courier">blackgirl.tech</span> started in 2014 as an organisation that aimed to provide a safe space for black girls and women in the tech industry and those coming into the tech industry. Since then, it has grown into a social enterprise that not only provides a safe space for black women, but that aims to make tech a safer space for black women and girls. We now run a blog, a podcast and events.
  </p>

  <p class="fw1 f3 pink-local">
    The goal of blackgirl.tech isn’t to make everyone a coder but to introduce coding to those who may have never been exposed and to create an environment that fosters sharing, learning and growth.
  </p>
</div>