<div class="attendees">
    <div class="maxWidth">
        <h2>What our Attendees say</h2>
        <!-- <div class="quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
              Yesterday changed my life. Thank you @blackgirltech.<br>
            </p>
        </div> -->
        <div class="quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
                It was refreshing to help people learn and interesting to see from a beginner's perspective.
            </p>
        </div>
        <div class="quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
                Great space to learn ask questions in a non-judgmental space.
            </p>
        </div>
        <div class="quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
                Positive, motivated, knowledgable team. Great intro for beginners with support. I came away with a good JavaScript overview.
            </p>
        </div>
    </div>
</div>
