<div class="attendees">
    <div class="maxWidth">
        <h2>What our Attendees say</h2>
        <div class="quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
              Yesterday changed my life. Thank you @blackgirltech.<br>
              - @annique_simpson
            </p>
        </div>
        <!-- <div class="quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
            </p>
        </div>
        <div class="quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
            </p>
        </div> -->
    </div>
</div>
