<div class="h-100 mw-100 pt4 avenir" id="wwd">
  <h1 class="fw4 f1 orange">What We Do</h1>

  <div class="f3 fl w-100">
    <div class="w-third fl pa2">
      <h3 class="white">Events</h3>
      <p class="fw1">
        We host free events on various topics from coding-basics to being a black woman in tech. Stay up-to-date on our latest events by following our <a class="dim" href="http://meetup.com/blackgirl-tech-Meetup">MeetUp page</a>. We have partenred with Twitter and Moo to host free monthly workshops starting in January 2017. We will also be hosting a series of masterclasses for companies who want to improve their hiring processes and procedures. These will be listed on the site as they become available.
      </p>
    </div>

    <div class="w-third fl pa2">
      <h3 class="white">Podcasts</h3>
      <p class="fw1">
        The <span class="courier">:bgt</span> podcast is a show where we speak on the latest tech and gadget news and interview people from various tech backgrounds, from newibies to entrpreneaurs, we talk about the things they enjoy, hate and create. Subscribe on <a class="dim" href="https://itunes.apple.com/gb/podcast/the-blackgirl.tech-podcast/id1088700620?mt=2">iTunes</a> or <a class="dim" href="https://soundcloud.com/blackgirltech">Soundcloud</a>. 
      </p>
    </div>

    <div class="w-third fl pa2">
      <h3 class="white">Blog</h3>
      <p class="fw1">
        Learn about Ruby's <code class="fw1 f4">alias_method</code> or read about one woman's struggle with imposter syndrome or catch up on what happened at this year's Google IO; we write about it all. Follow the blog <a class="dim" href="https://blog.blackgirl.tech">here</a>
      </p>
    </div>
  </div>
</div>