<div class="h-100 mw-100 orange-grad avenir">
  <h1 class="fw4 f1 orange pt6 pl7">
    blackgirl.talks
  </h1>

  <div class="fl w-100 ml6 mt6">
    <div class="fl w-third pa2">
      <i class="fa dim fa-headphones white" aria-hidden="true" style="font-size:15vw;"></i>
      <h3 class="pink-local fw4 f2">
        Podcasts
      </h3>
      <p class="white w5 f4">
        Listen to our podcasts on all things tech from gadgets to entrprenurship. Subscribe to us on itunes, leave a review
        and share.
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa dim fa-rss white" aria-hidden="true" style="font-size:15vw;"></i>
      <h3 class="pink-local fw4 f2">
        Blog
      </h3>
      <p class="white w5 f4">
        Learn about cool coding tips, best practices, life as a developer and much more. 
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa dim fa-calendar-o white" aria-hidden="true" style="font-size:15vw;"></i>
      <h3 class="pink-local fw4 f2">
        Events
      </h3>
      <p class="white w5 f4">
        We have partnered with Twitter and Moo to host monthly events, stay up to date by joining our meetup or following our eventbrite page. 
      </p>
    </div>
  </div>
</div>