<footer class="ph4 bg-light-gray avenir pv4 mt3">
  <a href="mailto:" class="link b f6 dib pr2 black b dim">blackgirl.tech@gmail.com</a>
  <p class="f6 dib pr2 black b">© 2017 BLACKGIRL.TECH LTD</p>
  <%= link_to "code of conduct", code_path, class: "link f6 dib pr2 dim black b" %>
  <a class="link dim black b dib w1" href="https://facebook.com/blackgirltech" title="">
    <svg data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
      <title>facebook icon</title>
      <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path>
    </svg>
  </a>
  <a class="link dim black b dib w1" href="https://twitter.com/blackgirltech" title="">
    <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
      <title>twitter icon</title>
      <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
    </svg>
  </a>


  <form class="form-inline validate" action="//blackgirltech.us10.list-manage.com/subscribe/post?u=014d87b21b74c29ffe90b6602&amp;id=8ed9508e43" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <label class="sr-only" for="mce-EMAIL">Subscribe to our mailing list</label>

    <label class="sr-only" for="inlineFormInputGroup" name="FNAME">First Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane">

    <label class="sr-only" for="inlineFormInputGroup" name="LNAME">Last Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Doe">

    <label class="sr-only" for="mce-EMAIL" id="mce-EMAIL">Email</label>
    <input name="EMAIL" id="mce-EMAIL" type="email" class="form-control email mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="jane.doe@example.com">

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_014d87b21b74c29ffe90b6602_8ed9508e43" tabindex="-1" value=""></div>

    <button type="submit" class="btn white bg-gold b">Newsletter</button>
  </form>

</footer>