<footer>
    <div id="footerWrap">
        <div id="footerInner">
            <%= image_tag "black_logo", class: "svg-width"%>
            <a href="https://www.iubenda.com/privacy-policy/92940880">Privacy Policy</a>
            <!-- <nav>

                <a href="#">link</a>
                <a href="#">link</a>
                <a href="#">link</a>
            </nav> -->
            <address>
                <strong> blackgirl.tech Ltd</strong>
                <br> Regsitered Office: The Bristol Office, 2nd Floor, 5 High Street, Westbury on Trym, Bristol, United Kingdom,
                BS9 3BY
                <br>Company No. 10455508
            </address>
        </div>
    </div>
</footer>
