<div class="mw-100 white orange-local-bg cf">
  <ul class="list pt1 pb4 m0 tc avenir">
    <li class="fl pl7">
      &copy;
    </li>
    <li class="fl pl2">
      2016
    </li>
    <li class="fl pl7">
      <a href="https://twitter.com/blackgirltech" class="white">@blackgirltech</a>
    </li>
    <li class="fl pl7">
      blackgirl.tech@gmail.com
    </li>
  </ul>
</div>