<footer class="p-3 bg-near-white avenir text-center mt7 <%= current_page?('/about') ? 'about-footer' : '' %>">
  
  <div class="">
    <%= link_to "Code of Conduct", code_path, class: "link dib pr2 dim dark-green hover-green " %><br>
    <a href="#" class="link  dib pr2 dim dark-green hover-green">Press</a><br>
    <a href="#" class="link dib pr2 dim dark-green hover-green">Privacy Policy</a> <br><a href="#" class="link  dib pr2 dim dark-green hover-green">Terms and Conditions</a>
  </div>
  

  <div class="p-2">
    <a href="https://facebook.com/blackgirltech" class="link dib pr2 dim dark-green hover-green f4" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/blackgirltech" class="link dib pr2 dim dark-green hover-green f4" title="twitter"> <i class="fa fa-twitter" aria-hidden="true"> </i></a>
    <a href="mailto:info@blackgirl.tech" class="link dib pr2 dim dark-green hover-green f4"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  </div>
  

  
  <div class="">
    <p class="f6 mt-1">
      blackgirl.tech is a non-profit company limited by guarantee<br>
      Company number 10455508 <br>
      The blackgirl.tech name and logo are registered trademarks
    </p>
    <address class="f6">
      5 High St, Westbury on Trym, Bristol, BS9 3BY
    </address>
    <p class="f6">© 2017 BLACKGIRL.TECH LTD</p>

  </div>
  
</footer>
