<div class="mw-100 white orange-local-bg cf">
  <ul class="list fl">
    <li>
      <%= image_tag('short-logo-white.png', class: 'w3') %>
    </li>
  </ul>

  <ul class="list pt3 pl7 tc avenir">
    <li class="fl pl5">
      &copy;
    </li>
    <li class="fl pl2">
      2016
    </li>
    <li class="fl pl5">
      @blackgirltech
    </li>
    <li class="fl pl5">
      blackgirl.tech@gmail.com
    </li>
    <li class="fl pl5">
      Press
    </li>
    <li class="fl pl5">
      Get Involved
    </li>
  </ul>
</div>