<div class="h-100 mw-100 avenir cf">
  <h1 class="fw4 f1 orange pt4 pl7">
    Get Involved
  </h1>

  <p class="fw1 f3 pl7 pr7">
    <span class="courier">:bgt</span> wouldn't be what it is now without the help of our supporters and those around who have offered their time, money and services to help us grow. If you would like to get involved and support us, find out how below.
  </p>

  <div class="fl w-100 pl7">
    <div class="fl w-third pa2">
      <i class="fa fa-heart-o" aria-hidden="true" style="font-size:10vw;"></i>
      <h3 class="pink-local fw4 f2">
        Volunteer
      </h3>
      <p class="w5 f4">
        Listen to our podcasts on all things tech from gadgets to entrprenurship. Subscribe to us on itunes, leave a review
        and share.
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-pencil" aria-hidden="true" style="font-size:10vw;"></i>
      <h3 class="pink-local fw4 f2">
        Contribute
      </h3>
      <p class="w5 f4">
        Learn about cool coding tips, best practices, life as a developer and much more. 
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-money" aria-hidden="true" style="font-size:10vw;"></i>
      <h3 class="pink-local fw4 f2">
        Donate
      </h3>
      <p class="w5 f4">
        We have partnered with Twitter and Moo to host monthly events, stay up to date by joining our meetup or following our eventbrite page. 
      </p>
    </div>
  </div>

</div>