<div class="h-100 mw-100 orange-local-bg avenir">
  <h1 class="white fw1 f1 pt4 pl7">
    Get Involved
  </h1>

  <div class="fl w-100 ml6 mt6">
    <div class="fl w-third pa2">
      <i class="fa fa-15 fa-headphones pink-local" aria-hidden="true" style="font-size:15vw;"></i>
      <h3 class="white fw4 f3">
        Podcasts
      </h3>
      <p class="white w5">
        Listen to our podcasts on all things tech from gadgets to entrprenurship. Subscribe to us on itunes, leave a review
        and share.
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-rss pink-local" aria-hidden="true" style="font-size:15vw;"></i>
      <h3 class="white fw4 f3">
        Blog
      </h3>
      <p class="white w5">
        Learn about cool coding tips, best practices, life as a developer and much more. 
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-15 fa-calendar-o pink-local" aria-hidden="true" style="font-size:15vw;"></i>
      <h3 class="white fw4 f3">
        Events
      </h3>
      <p class="white w5">
        We have partnered with Twitter and Moo to host monthly events, stay up to date by joining our meetup or following our eventbrite page. 
      </p>
    </div>
  </div>
</div>