<div class="h-100 mw-100 pb4 pt3 avenir cf" id="gi">
  <h1 class="fw4 f1 orange">
    Get Involved
  </h1>

  <p class="fw1 f3">
    <span class="courier">:bgt</span> wouldn't be what it is now without the help of our supporters and those around who have offered their time, money and services to help us grow. If you would like to get involved and support us, find out how below.
  </p>

  <div class="fl w-100">
    <div class="fl w-third pa2">
      <i class="fa fa-heart-o" aria-hidden="true" style="font-size:10vw;"></i>
      <h3 class="pink-local fw4 f2">
        Volunteer
      </h3>
      <p class="w5 f4">
        We are currently looking for volunteers to help run our monthly events, the person, or people, would be liasing with the venue, workshop leader and attendees on a monthly basis to ensure everything is up-to-scratch. We will subsidise the cost of travel and provide food, if you're interested email us at <a href="">blackgirl.tech@gmail.com</a> with the subject line <b>Events Volunteer.</b>
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-pencil" aria-hidden="true" style="font-size:10vw;"></i>
      <h3 class="pink-local fw4 f2">
        Contribute
      </h3>
      <p class="w5 f4">
        If you have something interesting to say about tech, or your expereince with tech, or if you've learnt something really cool that you think would benefit other people if they learnt it too, you should definitely write for us. We accept pieces from 250words - 800word depending on the form and topic. Send your pitches to <a href="">blackgirl.tech@gmail.com</a> with the subject line <b>Pitch:</b> and the title of your piece.
      </p>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-money" aria-hidden="true" style="font-size:10vw;"></i>
      <h3 class="pink-local fw4 f2">
        Donate
      </h3>
      <p class="w5 f4">
        We are a non-profit and alot of what we're able to do has been down to the kind donations of people all over the world, from venue space to food to money. In order to keep going and to expand, we will depend on the donations of those who believe in what we're doing, if you would like to donate, you can do so via <a href="https://paypal.me/blackgirltech">paypal</a>.
      </p>
    </div>
  </div>
</div>