<div class="mw-100 main-hero cover cf h-100" id="home">
  <%= render "partials/nav" %>
  <div class="fl w-100 pa7">
    <h1 class="courier lh-title white f1 ma0 bgt-heading"> blackgirl.tech</h1>
    <h2 class="avenir fw3 f2 white ma0"> Explore. Learn. Build </h2>
  </div>
</div>