<nav class="dt w-100 border-box pa1 ph5-ns avenir black fixed-ns">
  <a class="dtc f5 f4-ns link dim w-25 a-no-border" href="/">
    <%= image_tag('short-logo-black.png', class: 'w3') %>
  </a>

  <div class="dtc w-25 w-75-ns mt0 pa0 tr">
    <%= link_to "Who We Are", who_we_are_path, class: "mid-gray link dim f4-ns f5 dib mr3" %>
    <%= link_to "What We Do", what_we_do_path, class: "mid-gray link dim f4-ns f5 dib mr3" %>
    <%= link_to "Get Involved", involvements_path, class: "mid-gray link dim f4-ns f5 dib mr3" %>
  </div>
</nav>