<header>
    <i class="fa fa-bars menu-btn" aria-hidden="true"></i>
    <div id="headerInner">
        <nav>
            <div id="navWrap">
                <span id="left">
                    <%= link_to "About", about_path%>
                    <a  href="https://www.eventbrite.com/o/blackgirltech-7827799702">Events</a>
                    <a  href="https://paypal.me/blackgirltech">Donate</a>
                </span>
                <img src="images/logo.svg" alt="">
                <span id="right">
                    <a href="https://medium.com/blackgirl-tech-a-blog" > Blog</a>
                    <%= link_to "Join Us", new_member_registration_path %>
                    <a href="#">link</a>
                    <% if current_member %>
                      <%#= link_to "Your Profile", member_path(:id) %>
                      <%# if admin? %>
                        <%#= link_to 'Admin', admin_root_path %>
                      <%# end %>
                      <%= link_to "Log Out", destroy_member_session_path, method: :delete %>
                    <% else %>
                      <%#= link_to "Join Us", new_member_registration_path %>
                      <%= link_to "Log In", new_member_session_path %>
                    <% end %>
                </span>
            </div>
        </nav>
        <img class="hdr" src="images/hdrImg.jpg" alt="">
    </div>
</header>
