<nav class="db dt-l w-100 border-box pa3 ph5-l relative">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
    <img src="https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/black_logo.png", class="dib br-100 w5", alt="site logo">
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <%= link_to "About", about_path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l" %>
    <%= link_to "Get Involved", get_involved_path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l" %>
    <a href="https://medium.com/blackgirl-tech-a-blog" class="link dim dark-gray f6 f5-l dib mr3 mr4-l"> Blog</a>
    <a href="https://blackgirltech.github.io/lostinthesource/" class="link dim dark-gray f6 f5-l dib"> Lost in the <span class="courier">Source</span></a>
  </div>
</nav>