<nav class="dt w-100 border-box pa3 ph5-ns avenir white black-underlay-bg fixed">
  <a class="dtc v-mid mid-gray link dim w-25 a-no-border grow" href="/">
    <%= image_tag('short-logo-white.png', class: 'dib w2 h2 br-100') %>
  </a>

  <div class="dtc v-mid w-75 tr">
  <%= link_to "Who We Are", who_we_are_path, class: "nav-a link dim f5 f4-ns dib " %>
  <%= link_to "What We Do", what_we_do_path, class: "nav-a link dim f5 f4-ns dib " %>
  <%= link_to "Get Involved", involvements_path, class: "nav-a link dim f5 f4-ns dib " %>
  </div>
    
</nav>