<nav class="dt w-100 border-box pa3 ph5-ns avenir black fixed">
  <a class="dtc f5 f4-ns v-mid link dim w-25 a-no-border" href="/">
    <%= image_tag('short-logo-black.png', class: 'w3') %>
  </a>

  <div class="dtc v-mid w-75 tr">
  <%= link_to "Who We Are", who_we_are_path, class: "mid-gray link dim f5 f4-ns dib mr3" %>
  <%= link_to "What We Do", what_we_do_path, class: "mid-gray link dim f5 f4-ns dib mr3" %>
  <%= link_to "Get Involved", involvements_path, class: "mid-gray link dim f5 f4-ns dib mr3" %>
  </div>
    
</nav>