<div class="mw-100 white">
  <ul class="list fl">
    <li>
      <%= image_tag('short-logo-white.png', class: 'w3') %>
    </li>
  </ul>

  <ul class="list pl0 fr avenir">
    <li class="fl pl3">
      Home
    </li>
    <li class="fl pl3">
      About
    </li>
    <li class="fl pl3">
      Content
    </li>
    <li class="fl pl3 pr3">
      Get Involved
    </li>
  </ul>
</div>