<div class="mw-100 white cf">
  <ul class="list fl">
    <li>
      <%= image_tag('short-logo-white.png', class: 'w3') %>
    </li>
  </ul>

  <ul class="list pl0 fr avenir">
    <li class="fl pl3 dim">
      <a class="nav-a" href="#home">Home</a>
    </li>
    <li class="fl pl3 dim">
      <a class="nav-a" href="#wwa">Who We Are</a>
    </li>
    <li class="fl pl3 dim">
      <a class="nav-a" href="#wwd">What We Do</a>
    </li>
    <li class="fl pl3 pr3 dim">
      <a class="nav-a" href="#gi">Get Involved</a>
    </li>
  </ul>
</div>