<div class="partners">
  <div id="partnersWrap">
    <h2>partners/ sponsors</h2>
    <div class="pImages">
      <%= image_tag "partner_logo1", alt: "partner logo" %>
    </div>
    <div class="pImages">
      <%= image_tag "partner_logo2", alt: "partner logo" %>
    </div>
    <div class="pImages">
      <%= image_tag "partner_logo3", alt: "partner logo" %>
    </div>
    <div class="pImages">
      <%= image_tag "partner_logo", alt: "partner logo" %>
    </div>
  </div>
</div>
