<div class="partners">
  <div id="partnersWrap">
    <h2>partners/ donors</h2>
    <div class="pImages">
      <%= image_tag "8th_light", alt: "partner logo", style: "width: 80px"%>
      <p> 8TH LIGHT </p>
    </div>
    <div class="pImages">
      <%= image_tag "partner_logo3", alt: "partner logo" %>
    </div>
  </div>
</div>
