<div class="partners">
  <div id="partnersWrap">
    <h2>partners</h2>
    <div class="pImages">
      <%= image_tag "8th_light", alt: "partner logo", style: "width: 80px"%><br>
      <a href="https://8thlight.com"> 8TH LIGHT </a>
    </div>
    <div class="pImages">
      <%= image_tag "partner_logo3", alt: "partner logo" %><br>
      <a href="https://38degrees.org.uk"> 38 Degrees </a>
    </div>
  </div>
</div>
