<nav class="pushy pushy-right">
    <div class="pushy-content">
        <ul>
            <li class="pushy-link">
                <a href="#">link 1</a>
            </li>
            <li class="pushy-link">
                <a href="#">link 2</a>
            </li>
            <li class="pushy-link">
                <a href="#">link 3</a>
            </li>
        </ul>
    </div>
</nav>
