<h3>Discount Codes</h3>

<div class="row">
  <div class="col-md-4 mt-3 text-center">
    <p class="fw7 f4 pt-2 px-3">20% off any Kelechnokoff class</p>
    <div class=" mx-3">
      <p class="f4 p-1 text-center"> BGTTWERKZ20 </p>
    </div>
    <p class="f4"> This voucher is valid on any one TwerkzWerkz class, <a href="" class="dark-green hover-green">book now</a>. </p>
  </div>

  <div class="col-md-4 mt-3 text-center">
    <p class="fw7 f4 pt-2 px-3">20% OFF Dorcas Creates art</p>
    <div class=" mx-3">
      <p class="f4 p-1 text-center"> BGTDORCAS </p>
    </div>
    <p class="f4"> This voucher is valid on any piece of Dorcas Creates artwork, <a href="" class="dark-green hover-green">buy now</a></p>
  </div>

  <div class="col-md-4 mt-3 text-center">
    <p class="fw7 f4 pt-2 px-3">10% off Moo</p>
    <div class=" mx-3">
      <p class="f4 p-1 text-center">BGTMOO</p>
    </div>
    <p class="f4"> This voucher is valid on any Moo product, <a href="" class="dark-green hover-green">buy now</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mt-3 text-center">
    <p class="fw7 f4 pt-2 px-3">20% off Lost My Name</p>
    <div class=" mx-3">
      <p class="f4 p-1 text-center">BGTLMN</p>
    </div>
    <p class="f4"> This voucher is valid on any Lost My Name product, <a href="" class="dark-green hover-green">buy now</a></p>
  </div>
</div>