<div class="row bg-light-blue pa5" style="">
  <header class="col-md-4 offset-md-4">
    <h1 class="display-1 text-center white-80 b">Events</h1>
  </header>
</div>
  <div class="cf">

    <% @events.each do |event| %>
    && event.date >= Date.today
      <% if event.date.present?  %>
        <div class="fl w-25-ns w-100 pa2 pb3">

            <a href="events/<%= event.id %>/admin_show">
              <p class="b tc black"> <%= event.name %> </p>
            </a>
          </dl>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
