<div class="pagesHdr" id="eventsHeader">
    <h1>Events</h1>
</div>

<div class="eventsArea">
  <div id="eventsTop">
    <div class="maxWidth">
      <h2>Upcoming</h2>

        <%= render "partials/event" %>

      </div>
    </div>
  </div>
</div>
