<div class="mw-100 pl7 pr7 h-100">
  <%= render "partials/nav" %>
  <h2 class="orange f1">Events</h2>
  <p class="fw1 f1">
    We host free events on various topics from coding-basics to being a black woman in tech. Stay up-to-date on our latest events by following our <a class="dim" href="http://meetup.com/blackgirl-tech-Meetup">MeetUp page</a>. We have partenred with Twitter and Moo to host free monthly workshops starting in January 2017. We will also be hosting a series of masterclasses for companies who want to improve their hiring processes and procedures. These will be listed on the site as they become available.
  </p>

</div>