<div id="thankyou">
    <div id="thankYouImageWrap">
        <div id="shadow">
        </div>
        <%= image_tag "thankyouImg" %>
    </div>
    <div class="maxWidth">
        <div id="thankYouText">
            <h2>
                Thanks for signing up!
            </h2>
            <p>
              We'll see you on <%= @event.date.strftime('%a %d %b %Y') %> / <%= @event.time.strftime('%H:%Mpm') %> at <%= @event.address %>.
            </p>
        </div>
    </div>
</div>
