<div id="thankyou">
    <div id="thankYouImageWrap">
        <div id="shadow">
        </div>
        <%= image_tag "thankyouImg" %>
    </div>
    <div class="maxWidth">
        <div id="thankYouText">
            <h2>
                Thank you
                <span>
                    for your donation
                </span>
            </h2>
            <p>
                No matter how much you donated, your contribution will go towards ensuring that black women have a safe space to learn and explore technology through workshops, events, bootcamp scholarships and more.
            </p>
            <!-- <p> If you haven't already, why not consider becoming a regular donor? </p>
            <a class="cta" id="donateCta">
                    Become a Regular Donor
            </a> -->
        </div>
    </div>
</div>
