<% if @membership.base? || (@membership.redirect_url.present? && @membership.gc_mandate_id.nil?) %>
  <div id="particles-js" class="relative">
    <div class="container">
      <div class="absolute">
        <div class="row">
          <% if @membership.base? %>
            <h1 class="fw1 f1 center">Upgrade Membership</h1>
          <% else %>
            <h1 class="fw1 f1 center">Choose Membership</h1>
          <% end %>
        </div>
        <div class="row">
          <div class=" col-md-6 mh5 mb3 mh0-ns">
            <%= render "partials/club_membership" %>
          </div>

          <div class="col-md-6 mh5 mb3 mh0-ns ">
            <%= render "partials/ally_membership" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>