<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="f2 bg-light-red pa2 b white list-group-item b--light-red">Starter Membership</li>
      <li class="b list-group-item f3">Free</li>
      <li class="list-group-item">Access to resources</li>
      <li class="list-group-item">First access to events</li>
      <li class="list-group-item">Jobs</li>
      <li class="list-group-item">Something Else</li>
      <li class="list-group-item bg-gold b--gold b white f3 hover-gold hover-bg-white"> <%= link_to 'BUY', subscriptions_path(subscription_type: "free"), method: "post" %></li>
    </ul>
  </div>

  <div class="col-md-4 mt3 mt0-ns">
    <ul class="list-group">
      <li class="f2 bg-light-blue pa2 b white list-group-item b--light-blue">Membership</li>
      <li class="b list-group-item f3">£80</li>
      <li class="list-group-item">All of Free +</li>
      <li class="list-group-item">10% discount with MOO</li>
      <li class="list-group-item">Free :bgt T-shirt</li>
      <li class="list-group-item">Something Else</li>
      <li class="list-group-item bg-gold b--gold b white f3 hover-gold hover-bg-white" href="#" ><%= link_to 'BUY', subscriptions_path(subscription_type: "membership"), method: "post" %></li>
    </ul>
  </div>

  <div class="col-md-4 mt3 mt0-ns mb5 mb0-ns">
    <ul class="list-group">
      <li class="f2 bg-light-green pa2 b white list-group-item b--light-green">Ally</li>
      <li class="b list-group-item f3">£80</li>
      <li class="list-group-item">All of Free +</li>
      <li class="list-group-item">10% discount with MOO</li>
      <li class="list-group-item">Free :bgt T-shirt</li>
      <li class="list-group-item">Something Else</li>
      <li class="list-group-item bg-gold b--gold b white f3 hover-gold hover-bg-white" href="#"><%= link_to 'BUY', subscriptions_path(subscription_type: "ally"), method: "post" %></li>
    </ul>
  </div>
  
</div>
