<div class="pl6-l pr6-l pl3 pr3 pt4">
  <h2 class="fw4-ns f1-ns f2 fw4 orange">Contribute</h2>
  <p class="f1-l fw1">
    If you have something interesting to say about tech, or your expereince with tech, or if you've learnt something really cool that you think would benefit other people, you should definitely write for us. We accept pieces from 250words - 800word depending on the form and topic. Send your pitches to <a href="">blackgirl.tech@gmail.com</a> with the subject line <b>Pitch:</b> and the title of your piece.
  </p>
</div>