<div class="pl6 pr6">
  <h1 class="orange fw4 f1">Contribute</h1>
  <p class="f1-l fw1">
    If you have something interesting to say about tech, or your expereince with tech, or if you've learnt something really cool that you think would benefit other people, you should definitely write for us. We accept pieces from 250words - 800word depending on the form and topic. Send your pitches to <a href="">blackgirl.tech@gmail.com</a> with the subject line <b>Pitch:</b> and the title of your piece.
  </p>
</div>