<div class="pl6 pr6">
  <h2 class="orange f1 fw4">Donate</h2>
  <p class="f1-l fw1">
    We are a non-profit and alot of what we're able to do has been down to the kind donations of people all over the world, from venue space to food to money. In order to keep going and to expand, we will depend on the donations of those who believe in what we're doing, if you would like to donate, you can do so via <a href="https://paypal.me/blackgirltech">paypal</a>.
  </p>
</div>