<div class="pl6 pr6">
  <h1 class="fw4 f1 orange">
    Get Involved
  </h1>

  <p class="fw1 f2">
    <span class="courier">:bgt</span> wouldn't be what it is now without the help of our supporters and those around who have offered their time, money and services to help us grow. If you would like to get involved and support us, find out how below.
  </p>

  <div class="fl w-100 f2 pl5">
    <div class="fl w-third pa2">
      <i class="fa fa-heart-o" aria-hidden="true" style="font-size:5vw; color:white;padding-left:6rem;"></i>
      <h2 class="pink-local grow dim">
        <%= link_to "Volunteer", volunteer_path %>
      </h2>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-pencil pl6" aria-hidden="true" style="font-size:5vw;color:white;"></i>
      <h2 class="pink-local grow dim">
        <%= link_to "Contribute", contribute_path %>
      </h2>
    </div>

    <div class="fl w-third pa2">
      <i class="fa fa-money pl5" aria-hidden="true" style="font-size:5vw; color:white;"></i>
      <h2 class="pink-local grow dim">
        <%= link_to "Donate", donate_path %>
      </h2>
    </div>
  </div>
</div>
