<div class="pl6 pr6">
  <h2 class="orange f1 fw4">
    Volunteer
  </h2>
  <p class="f1-l fw1">
    We are currently looking for volunteers to help run our monthly events, the person, or people, would be liasing with the venue, workshop leader and attendees on a monthly basis to ensure everything is up-to-scratch. We will subsidise the cost of travel and provide food, if you're interested email us at <a href="">blackgirl.tech@gmail.com</a> with the subject line <b>Events Volunteer.</b>
  </p>
</div>