<div class="pl6-l pr6-l pl3 pr3 pt4">
  <h2 class="fw4-ns f1-ns f2 fw4 orange">
    Volunteer
  </h2>
  <p class="f1-l fw1">
    We are currently looking for volunteers to help run our monthly events, the person, or people, would be liasing with the venue, workshop leader and attendees on a monthly basis to ensure everything is up-to-scratch. We will subsidise the cost of travel and provide food, if you're interested email us at <a href="">blackgirl.tech@gmail.com</a> with the subject line <b>Events Volunteer.</b>
  </p>
</div>