@import "../../node_modules/font-awesome/less/font-awesome.less";

/***************
    MIXINS START
***************/

.gradientTLBR (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left bottom, left top, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(left bottom, @startColor, @endColor);
	background: -moz-linear-gradient(left bottom, @startColor, @endColor);
	background: -ms-linear-gradient(left bottom, @startColor, @endColor);
	background: -o-linear-gradient(left bottom, @startColor, @endColor);
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.vGradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, top top, bottom bottom, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(top, @startColor, @endColor);
	background-image: -moz-linear-gradient(top, @startColor, @endColor);
	background-image: -ms-linear-gradient(top, @startColor, @endColor);
	background-image: -o-linear-gradient(top, @startColor, @endColor);
}

.bShadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.skew (@deg, @deg2) {
	-webkit-transform:   skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
	transform: 		 skew(@deg, @deg2);
}

.bRadius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
	transform: 		 rotate(@deg);
}
/***************
    MIXINS END
***************/


/***************
    GLOBALS
***************/

@purple: #1A1A6A;


/***************
    MEDIA QUERIES
***************/

@480:~"screen and (min-width: 480px)";
@620:~"screen and (min-width: 620px)";
@768:~"screen and (min-width: 768px)";
@860:~"screen and (min-width: 860px)";
@970:~"screen and (min-width: 970px)";
@1024:~"screen and (min-width: 1024px)";
@1080:~"screen and (min-width: 1080px)";
@1280:~"screen and (min-width: 1280px)";
@1440:~"screen and (min-width: 1440px)";



body{
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    background:#f8f8f8;
}


header{
    width:100%;
    float: left;
    position:relative;
    height:185px;
    overflow:hidden;
    z-index:1;
    .fa{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 25px;
        color: #fff;
        z-index:10;
        @media @970 {
            display:none;
        }
    }
    #headerInner{
        position:absolute;
        width: 170%;
        left: -35%;
        .bRadius(0 0 50% 50%);
        background: @purple;
        overflow:hidden;
        .gradientTLBR (#5C1D75, @purple);
        nav{
            #navWrap{
                img{
                    margin: 20px auto 30px;
                    display: block;
                    width:130px;
                }
                span{
                    display:none;
                    a{
                        font-size:10pt;
                        .transition(all 0.5s ease-in-out);
                        &:hover{
                            color:#B81F82;
                        }
                    }
                }
                @media @970{
                    height: 330px;
                    margin: 0 auto;
                    width: 50%;
                    img{
                        float: left;
                        width: 11%;
                        display: inline;
                        margin: 28px 0 0 0.4%;
                    }
                    span{
                        width: 44%;
                        float: left;
                        display:block;
                        a{
                            color:#fff;
                            float: left;
                            width: 33%;
                            font-weight:300;
                            letter-spacing:0.02em;
                            text-decoration:none;
                            text-align: center;
                            margin: 18% 0 0 0;
                        }
                    }
                }
                position: relative;
                z-index: 1;
            }
            @media @970{
                position: relative;
                top: 150px;
            }
            @media @1280{
                top: 132px;
            }
        }
        .hdr{
            top: -140px;
            left: 0px;
            @media @970{
                top: -470px;
                left: -270px;
            }
            position: absolute;
            width: 100%;
            height: auto;
            z-index: 0;
            opacity: 0.1;
        }
    }
    @media @970 {
        height: 335px;
        top:-140px;
    }
    @media @1440 {
        top:-114px;
    }
}

.cta{
    margin: 0 auto;
    display:block;
    width:128px;
    font-size: 11pt;
    padding: 12px 5px;
    .vGradient(#FAE961, #F7AE1C);
    color:#fff;
    text-decoration:none;
    text-align:center;
    border:none;
    cursor:pointer;
    .bRadius(3px);
    font-weight:600;
    letter-spacing:0.03em;
    text-transform:uppercase;
    .drop-shadow(0px, 2px, 4px, 0px, 0.15);
    .transition(all 0.5s ease-in-out);
    &:hover{
        color:#000;
    }
}

.contentWrap{
    width:85%;
    margin:0 auto;
}

.homeContent{
    float: left;
    margin: 38px 0 0;
    letter-spacing:0.04em;
    width:100%;
    h2,
    p{
        text-align:center;
        padding:0;
    }
    h2{
        font-size:18pt;
        margin:0 0 9px;
    }
    p{
        font-size:11pt;
        font-weight:300;
        margin:0 0 24px;

    }
}

.maxWidth{
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    padding:0 5%;
    @media @970{
        padding:0;
    }
}

#content-1{
    #topWrap{
        max-width: 970px;
        margin: 0 auto;
        h2{
            color:@purple;
        }
        position: relative;
        text-align: center;
        .textWrap{
            display:table;
            margin:0 auto;
            @media @970{
                float: left;
                width: 330px;
                margin:30px 0 110px 0;
            }
        }
        img{
            border:solid 1px #fff;
            width:179px;
            height:179px;
            margin:0 auto 20px;
            position:relative;
            .bRadius(4px);
            .drop-shadow(0px, 0px, 8px, 2px, 0.12);
        }
        @media @970{
            img{
                margin:0;
                position:absolute;
                animation: none;
            }
            .lrg{
                width: 324px;
                height: 324px;
                top: -180px;
                right: 40px;
            }
            .mid{
                width: 244px;
                height: 244px;
                top: 80px;
                z-index: 1;
                right: 23%;
            }
            .sml{
                width: 138px;
                height: 138px;
                top: 20px;
                z-index: 1;
                right: 0px;
            }
        }
        @media @1080{
            .mid{
                right: 29%;
            }
            .lrg{
                right: 10%;
            }
        }
    }
}

#content-2{
    overflow: hidden;
    // margin: 70px 0 0 0;
    position:relative;
    @media @768{
        height: 330px;
    }
    img{
        width:100%;
        margin-top: -100px;
        @media @768{
            margin-top: -160px;
            position:absolute;
        }
        @media @970{
            margin-top: -290px;
        }
    }
    #bgWrap{
        border: solid 1px rgba(255, 255, 255, 0.14);
        .gradientTLBR (#36166F, #4BC2F2);
        // position: absolute;
        // top:0;
        .drop-shadow(0px, 0px, 11px, 2px, 0.32);
        padding:10px 0 20px;
        color:#fff;
    }
    .maxWidth{
        margin: -5px auto;
        max-width: 980px;
        position: relative;
        padding: 0;
        #bgWrap{
            border:none;
            p{
                width: 90%;
                margin: 0 auto 20px;
            }
            @media @768{
                width:50%;
                padding: 30px 0;
                margin: 31px auto;
            }
            @media @970{
                float:right;
                width:40%;
            }
        }
    }
}

#content-3{
    #cardWrap{
        float:left;
        width:100%;
        @media @620{
            max-width:500px;
            margin: 0 auto;
            float:none;
        }
        @media @970{
            float:right;
        }
        .resourceCard{
            margin:0 auto 30px;
            display:block;
            background:#fff;
            width:230px;
            list-style:none;
            .drop-shadow(0px, 2px, 9px, 5px, 0.05);
            h3{
                text-align:center;
                .gradientTLBR (#5C1D75, #1A1A6A);
                font-weight:300;
                width:100%;
                margin: 0 0 20px 0;
                color:#fff;
                border-radius:4px 4px 0 0;
                font-size:12pt;
                text-transform:capitalize;
                padding:17px 0;
            }
            p,
            span{
                width:75%;
                margin:0 auto 19px;
                display:block;
                text-align:left;
                font-size:11pt;
                float:none;
                padding:0;
                letter-spacing:0.05em;
            }
            p{
                line-height:1.7em;
                font-size:10pt;
            }
            span{
                font-size:9pt;
                color:#B81F82;
                display:none;
            }
            .learnMore{
                background:#FAF6FF;
                color:#000;
                width:100%;
                font-size:10pt;
                padding: 16px 0;
                margin: 0;
                text-indent: 34px;
                font-weight: 600;
                border-radius: 0 0 4px 4px;
            }
            @media @620{
                margin:0 0 30px 0;
                float:left;
            }
            &:nth-of-type(2){
                display:none;
                @media @620{
                    display:block;
                    float:right;
                }
            }
        }
    }
    .contentThreeText{
        width:100%;
        float:left;
        h2{
            color: @purple;
        }
        @media @970{
            float: left;
            width: 30%;
            margin: 20px 0 0 0;
        }
        @media @1080{
            width: 36%;
            margin: 47px 0 0 0;
        }
    }
}


.resourceCard{
    margin:0 auto 30px;
    display:block;
    background:#fff;
    width:230px;
    list-style:none;
    .drop-shadow(0px, 2px, 9px, 5px, 0.05);
    h3{
        text-align:center;
        .gradientTLBR (#5C1D75, #1A1A6A);
        width:100%;
        margin: 0 0 20px 0;
        color:#fff;
        font-weight:600;
        border-radius:4px 4px 0 0;
        font-size:11pt;
        letter-spacing:0.02em;
        text-transform:capitalize;
        padding:17px 0;
    }
    p,
    span{
        width:75%;
        margin:0 auto 19px;
        display:block;
        text-align:left;
        font-size:11pt;
        font-weight:300;
        float:none;
        padding:0;
        letter-spacing:0.05em;
    }
    p{
        line-height:1.7em;
        font-size:10pt;
    }
    span{
        font-size:9pt;
        color:#B81F82;
        display:none;
    }
    .learnMore{
        background:#FAF6FF;
        color:#000;
        width:100%;
        font-size:10pt;
        padding: 16px 0;
        margin: 0;
        text-indent: 34px;
        font-weight: 600;
        border-radius: 0 0 4px 4px;
    }
    @media @620{
        margin:0 0 30px 0;
        float:left;
    }
    &:nth-of-type(2){
        display:none;
        @media @620{
            display:block;
            float:right;
        }
    }
}

.partners{
    width:100%;
    background:#fff;
    margin: 30px 0;
    padding:10px 0 70px 0;
    float:left;
    #partnersWrap{
        width:90%;
        margin: 10px auto;
        h2{
            color:@purple;
            text-align:center;
            width:100%;
            text-transform:capitalize;
            margin: 0 0 20px 0;
            @media @970{
                margin:0 0 50px 0;
            }
        }
        .pImages{
            width:47%;
            float:left;
            text-align:center;
            margin-bottom:15px;
            img{
                width:100%;
            }
            &:nth-of-type(2n){
                float:right;
            }
            @media @620{
                width:25%;
                &:nth-of-type(2n){
                    float:left;
                }
            }
        }
    }
}

.pushy{
   .gradientTLBR (#36166F, #4BC2F2);
   .bShadow(inset 5px -8px 20px rgba(0, 0, 0, 0.5) );
    .pushy-content{
        border-left: solid 2px rgba(255,255,255,0.3);
        height: 100%;
        width: 100%;
        float: left;
        ul{
            padding:0;
            li{
                list-style:none;
                a{
                    color:#fff;
                    font-size: 11pt;
                    width:100%;
                    border-bottom: solid 1px rgba(255,255,255,0.1);
                    &:hover {
                        color:#fff;
                    }
                }
            }
        }
    }
}


.show970{
    display:none;
    @media @970{
        display:block;
    }
}

.teamWrap{
    width:100%;
    .teamArea{
        h2{
            width:100%;
            margin: 10px 0 30px;
            text-align: center;
            font-size: 16pt;
            @media @768{
                font-size:18pt;
            }
        }
        .cardWrap{
            width: 245px;
            margin: 0 auto;
            .aboutCard{
                width: 205px;
                padding:15px 20px;
                float:left;
                .bRadius(4px);
                background:#fff;
                margin:0 0 20px 0;
                .drop-shadow(0px, 4px, 7px, 0px, 0.16);
                img{
                    .bRadius(50%);
                    border:solid 3px #fff;
                    .drop-shadow(0px, 2px, 4px, 0px, 0.16);
                    width:70px;
                    height:70px;
                    float:left;
                    background:#fff;
                }
                .cardText{
                    h2,
                    h3,
                    p{
                        padding:0;
                        margin:0 0 2px;
                        color:@purple;
                    }
                    float:right;
                    h3{
                        font-size:11pt;
                        margin-top:12px;
                    }
                    p{
                        font-size:9pt;
                    }
                }
            }
            .nudgeLeft{
                margin-left:-17px;
            }
            @media @768{
                float:left;
                &:nth-of-type(2){
                    float:right;
                }
            }
        }
        @media @768{
            max-width: 540px;
        }
    }
}

.aboutAreas{
    float:left;
    @media @970{
        float:none;
    }
}

#purplePanel{
    background: #371573;
    margin: 25px 0;
    p{
        text-align: center;
        font-size: 10.5pt;
        color: #fff;
        line-height: 1.9em;
        font-weight: 300;
        padding:15px 5%;
    }
}

.introText{
    #aboutImgWrap{
        float:left;
        width:100%;
        .innerImgWrap{
            max-width:762px;
            margin:0 auto;
            img{
                border:solid 3px #fff;
                .drop-shadow(0px, 2px, 9px, 5px, 0.05);
                max-width:230px;
                .bRadius(4px);
                display:block;
                margin:35px auto;
                @media @620{
                    float:left;
                    width:30%;
                    margin-right:3%;
                }
                @media @768{
                    margin-right:3.7%;
                }
                &:nth-of-type(3){
                    float:right;
                    margin-right:0;
                }
            }
            .hide{
            display:none;
                @media @620{
                    display:block;
                }
            }
        }

    }
    p{
        font-size:10pt;
        font-weight:300;
        line-height:1.9em;
        text-align:center;
    }
}

.pagesHdr{
    float:left;
    width:100%;
    position:relative;
    overflow:hidden;
    z-index:-1;
    margin-top:-40px;
    @media @970{
        margin-top:-190px;
    }
    h1,
    p,
    hr{
        text-align:center;
        margin:0 auto;
        padding:0;
        width:90%;
        color:#fff;
    }
    p{
        font-size:9.5pt;
        margin-top: 10px;
        font-weight:300;
        line-height:1.5em;
        @media @768{
            font-size: 12pt;
        }
    }
    h1{
        @media @768{
            font-size: 35pt;
        }
    }
    hr{
        width:20%;
        border:none;
        margin-top:17px;
        border-bottom:solid 1px rgba(255,255,255, 0.3);
    }
}

#aboutHeader{
    .gradientTLBR(#E75491, #561C69);
    padding: 70px 0 30px;
    @media @480{
        padding: 80px 0 50px;
    }
    @media @620{
        padding: 90px 0 70px;
    }

    @media @768{
        padding: 110px 0 90px;
    }
    img{
        position: absolute;
        z-index: -1;
    }
    .one{
        top: -240px;
        left: 51px;
        .rotate(-1013deg);
        @media @768{
            left:91px;
            .rotate(-1034deg);
        }
    }
    .two{
        .rotate(1303deg);
        right: 50px;
        top: -320px;
        @media @768{
            .rotate(1303deg);
            right: 100px;
            top: -230px;
        }
    }
}

#thankyou{
    float: left;
    padding-bottom: 30px;
    width: 100%;
    background: #000;
    @media @768{
        margin-top: -30px;
    }
    @media @970{
        margin-top: -180px;
        position: relative;
        padding-bottom: 0px;
    }
    @media @1024{
        background:none;
    }
    #thankYouImageWrap{
        margin: -25px 0 0 0;
        position:relative;
        overflow:hidden;
        #shadow{
            background: url('../images/shadowImg.png');
            width: 100%;
            float: left;
            position: absolute;
            height: 200px;
            bottom: 0;
            left: 0;
            z-index: 10;
            @media @970{
                display: none;
            }
        }
        img{
            width:140%;
            @media @970{
                position:relative;
                left:0;
                width:100%;
            }
        }
        @media @768{
            margin: 0;
        }
    }
    #thankYouText{
        background: rgba(255,255,255,0.98);
        max-width:310px;
        margin:0 auto;
        @media @970{
            right: 0;
            top: -360px;
            position:absolute;
        }
        @media @1280{
            top: -400px;
        }
        .bRadius(4px);
        padding:7px 10px;
        h2,
        p{
            color:#000;
            width:100%;
            text-align:center;
            span{
                display:block;
                font-size:11pt;
            }
        }
        p{
            font-size: 10pt;
            line-height: 1.7em;
            @media @620{
                margin:10px auto 15px;
                width:90%;
            }
        }
    }
}
#donateCta{
    width: 230px;
    margin-bottom: 16px;
    font-size: 10pt;
}

#donatePartners{
    margin: 0;
}

.donateArea{
    .gradientTLBR (#36166F, #4BC2F2);
    float: left;
    width:100%;
    .donateInnerAreas{
        margin:40px 0;
    }
    #donateText{
        .bRadius(6px);
        padding:30px 40px;
        background: rgba(0,0,0,0.2);
        h2,
        p{
            color:#fff;
            text-align:center;
            margin:0;
            padding:0;
        }
        p{
            font-weight: 200;
            font-size: 9.5pt;
            line-height: 1.6em;
            .opacity(0.9);
        }
        h2{
            margin: 0 0 20px 0;
        }
        @media @768{
            max-width:40%;
            padding:30px 20px;
            float:left;
        }
    }
    #donateForm{
        @media @768{
            float:right;
        }
    }
}

.pagePanel{
    float:left;
    width:100%;
    h2{
        text-align:center;
        color:@purple;
        margin:30px 0 50px;
    }
}

.attendees{
    .pagePanel;
    background:#f8f8f8;
    .quote{
        margin:0 0 40px 0;
        i{
            display: block;
            text-align: center;
            font-size: 30pt;
            opacity: 0.1;
            color:@purple;
        }
        p{
            font-size: 9.5pt;
            letter-spacing: 0.03em;
            font-weight: 200;
            text-align: center;
            margin:15px 0 0 0;
            line-height: 1.7em;
        }
        @media @620{
            width:30%;
            float:left;
            margin-right: 5%;
            &:nth-of-type(3){
                float:right;
                margin-right:0;
            }
        }
    }
}

.reviews{
    .pagePanel;
    background:#f8f8f8;
    .fundQuotes{
        width:100%;
        float:left;
        span,
        i{
            display:block;
            text-align:center;
            margin: 0px 0 10px 0;
        }
        span{
            margin: 0px 0 30px 0;
            font-size: 9pt;
            line-height: 1.7em;
            font-weight: 300;
            @media @620{
                width:30%;
                padding: 0 1%;
                float:left;
                margin-right:2%;
                &:nth-of-type(3){
                    float:right;
                    margin-right:0;
                }
            }
            @media @970{
                font-size:10pt;
            }
        }
        i{
            font-size: 25pt;
            .opacity(0.3);
            color:@purple;
        }
    }
}

.timeline{
    padding-top:20px;
    overflow:hidden;
    background:#fff;
    .event{
        width:100%;
        float:left;
        margin:0 0 20px 0;
        position:relative;
        z-index:1;
        .date{
            font-weight:700;
            color:#5A1C69;
            font-size:16pt;
            margin:0 0 10px 0;
            width:100%;
            padding:7px 0 0;
            text-align:center;
            background:#fff;
            @media @768{
                position:relative;
                top:140px;
                z-index:-1;
                font-size:23pt;
                text-indent: 110px;
                padding:7px 0;
            }
            hr{
                border:none;
                border-bottom:solid 4px #5A1C69;
                display:block;
                margin:7px auto 13px;
                width: 100px;
                @media @768{
                    display:inline-block;
                    position: relative;
                    margin:0;
                    top: -10px;
                    left: 14px;
                }
            }
        }
        .second{
            @media @768{
              hr{
                left: -204px;
              }
            }
        }
        .pod{
            width:270px;
            text-align:center;
            .gradientBorder{
                .vGradient(#FAC561, #B516B0);
                width: 190px;
                height: 190px;
                margin: 0 auto;
                border-radius: 50%;
                .gradientBg{
                    .vGradient(#851379, #1A1A6A);
                    width: 180px;
                    height: 134px;
                    padding: 38px 0 8px;
                    border-radius: 50%;
                    float:left;
                    margin:5px;
                    font-size: 53pt;
                    color: #fff;
                    font-weight: 600;
                    span{
                        display: block;
                        font-size: 15pt;
                        margin-top: -15px;
                        font-weight: 300;
                    }
                }
            }
            p{
                width:100%;
                font-size:10pt;
                font-weight:300;
                line-height:1.2em;
            }
            margin:0 auto;
            @media @768{
                float:left;
            }
        }
        .odd{
            @media @768{
                float:right;
            }
        }
        p{
            text-align:center;
            width:100%;
            float:left;
            margin:0;
            padding:10px 0;
            background:#fff;
        }
        @media @768{
            margin:0 0 -50px 0;
        }
    }
    .timelineBorder{
        border-right: solid 1px #ebebeb;
        width: 50%;
        height: 1140px;
        top: -30px;
        position: relative;
        @media @768{
            height: 980px;
        }
    }
    .smaller{
        max-width:760px;
    }
}

.stillToCome{
    background: #fff;
    padding: 0 0 20px 0;
    position: relative;
    z-index: 1;
    margin: -90px 0 0 0;
    @media @970{
        padding:0 0 40px 0;
    }
    .pagePanel;
    h2{
        margin-bottom:20px;
    }
    p{
        font-size: 9pt;
        line-height: 1.7em;
        font-weight: 300;
        width:100%;
        text-align:center;
        margin:0 0 20px 0;
        float: left;
        &:nth-of-type(2){
            margin:30px 0 0 0;
            .cta{
                width: 200px;
                margin-top: 20px;
            }
        }
        @media @970{
            font-size: 10pt;
        }
    }
    hr{
        border:none;
        margin: 0;
        border-bottom: solid 1px #ebebeb;
    }

    .squareWrap{
        margin-bottom:20px;
        .squares{
            border: solid 5px #fff;
            .bRadius(8px);
            background: @purple;
            margin: 0 auto 24px auto;
            height: 120px;
            padding: 20px;
            width: 150px;
            .bShadow( 0px 5px 11px 0px rgba(0,0,0,0.2) );
            .vGradient(#7D1B7A, #200B27);
            position:relative;
            overflow:hidden;
            p{
                padding:0;
                color:#fff;
                position:relative;
                z-index:2;
            }
            .single{
                margin:30px 0 0 0;
                font-size: 15pt;
                font-family:monospace;
                font-weight:300;
                line-height:1.3em;
                span{
                    display:block;
                    font-family: 'Montserrat', sans-serif;
                    font-weight:600;
                }
            }
            .detail{
                margin:0px 0 0 0;
                font-size: 12pt;
                font-family: 'Montserrat', sans-serif;
                font-weight:600;
                line-height: 1.4em;
                span{
                    margin:8px 0 0px 0;
                    display: block;
                    font-weight: 300;
                    font-size: 9.5pt;
                    line-height: 1.6em;
                }
            }
            .third{
                margin:19px 0 0 0;
            }
            .fourth{
                margin:17px 0 0 0;
            }
            .circle{
                .rotate(90deg);
                position:absolute;
                .bRadius(50%);
                top: -50px;
                left: -180px;
                z-index: 1;
                padding: 150px;
                .gradientTLBR (#000, #200B27);
                .opacity(0.2);
            }
            @media @620{
                float:left;
                &:nth-of-type(2n){
                    float:right;
                }
            }
            @media @970{
                margin:0 25px 0 0;
                &:nth-of-type(2n){
                    float:left;
                }
                &:nth-of-type(4){
                    float:right;
                    margin-right:0;
                }
            }
            @media @1024{
                margin: 0 28px 0 0;
            }
        }
        @media @620{
            width: 77%;
            margin: 0 auto;
        }
        @media @768{
            width: 62%;
        }
        @media @970{
            width: 90.4%;
            padding:0;
        }
    }
}

#fundraisingHeader{
    padding:60px 0 35px 0;
    .vGradient (#E75654, #5A1C69);
    .maxWidth{
        z-index:1;
    }
    h3{
        width:100%;
        text-align:center;
        margin: 12px 0 30px;
        color:#fff;
        font-size:18pt;
        letter-spacing:0.03em;
    }
    hr{
        width:72%;
        margin-top:0;
        clear: both;
        @media @768{
            max-width: 407px;
        }
    }
    .cta{
        width:260px;
        font-size:10pt;
        @media @480{
            width:280px;
            font-size:11pt;
        }
        @media @620{
            width:320px;
        }
    }
    #counterWrap{
        @media @768{
            max-width:580px;
            padding: 0 10%;
            margin:0 auto;
        }
        .counter{
            width: 50%;
            float: left;
            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 40pt;
            margin:0 0 18px 0;
            letter-spacing: 0.02em;
            text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
            @media @480{
                margin:0 0 25px 0;
            }
            @media @620{
                font-size: 50pt;
            }
            .small{
                text-shadow: none;
                display: block;
                font-weight: 300;
                letter-spacing: 0.06em;
                float: left;
                font-size: 9pt;
                margin:2px 0 0 0;
                width: 100%;
                line-height: 0.6em;
                @media @620{
                    font-size: 11pt;
                }
            }
            &:nth-of-type(3){
                width:100%;
            }
            @media @480{
                width:33.3%;
                &:nth-of-type(3){
                   width:33.3%;
                }
            }
        }
    }
    @media @1440{
        padding:110px 0 35px 0;
    }
    .square{
        position:absolute;
        padding:200px;
        background:red;
        .opacity(0.2);
        left: -300px;
        top: 70px;
        .rotate (45deg);
        .vGradient (#5C1D75, #1A1A6A);
        @media @970{
            padding:200px;
        }
    }
    .one{
        left: -250px;
        .opacity(0.7);
    }
    .two{
        left: -200px;
        .opacity(0.5);
    }
    .three{
        left: -150px;
        .opacity(0.2);
    }
    .four{
        left: -100px;
        .opacity(0.1);
    }
    .five{
        left: -50px;
        .opacity(0.3);
        z-index:-1;
    }
    .six,
    .seven,
    .eight{
        left: 600px;
        top: 250px;
        .opacity(0.1);
        display:none;
        @media @970{
            display:block;
        }
    }
    .six{
        left: 660px;
        top: 280px;
    }
    .seven{
        left: 720px;
        top: 320px;
    }
}

#donateHeader{
    .gradientTLBR (#E75654, #5A1C69);
    padding: 70px 0 30px;
    img{
        position: absolute;
        z-index: -1;
        opacity:0.3;
    }
    .one{
        top: 110px;
        left: -219px;
        width: 390px;
    }
    .two{
        top: -20px;
        left: -19px;
        width: 230px;
    }
    .three{
        top: -110px;
        right: -90px;
        width: 200px;
        opacity: 0.3;
    }
    .four{
        right: -80px;
        bottom: -120px;
        width: 280px;
        opacity: 0.6;
    }
    @media @480{
        padding: 80px 0 50px;
    }
    @media @620{
        padding: 90px 0 70px;
        .one{
            top: 110px;
            left: -109px;
            width: 430px;
        }
        .three{
            top: -90px;
            right: 60px;
            width: 260px;
            opacity: 0.3;
        }
    }
    @media @768{
        padding: 110px 0 90px;
    }
}

.joinUs{
    .maxWidth{
        .textBox{
            .bShadow(0px 2px 13px rgba(0, 0, 0, 0.1) );
            .bRadius(5px);
            background:#fff;
            padding:15px 30px;
            text-align:center;
            margin: 40px 0 0 0;
            position:relative;
            z-index:1;
            h2{
                margin:10px 0;
            }
            p{
                line-height: 1.6em;
                font-weight: 300;
                letter-spacing: 0.02em;
                font-size: 9.7pt;
                margin-bottom:30px;
                strong{
                    display:block;
                }
            }
            @media @970{
                width: 40%;
                position: absolute;
                top: -34px;
                margin: 0;
                padding: 53px 30px;
            }
            @media @1080{
                top: -44px;
            }
        }
        .form{
            width:70%;
            margin: -10px auto 30px;
            .gradientTLBR (#36166F, #4BC2F2);
            padding:40px 10% 30px;
            .bRadius(5px);
            .formTop,
            .radioBtns,
            .question,
            .volunteer{
                float:left;
                width:100%;
            }
            .formTop{
                input{
                    .formInputs;
                    @media @620{
                        &:nth-of-type(2n){
                            float:right;
                        }
                    }
                    margin:0 0 15px 0;
                }
            }
            .radioBtns{
                margin:10px 0 0 0;
                .radio{
                    float:left;
                    width:25%;
                    @media @1024{
                        margin:0 11px 10px 0;
                    }
                    input{
                        margin: 0 auto 7px;
                        display: block;
                        @media @1024{
                            margin:0;
                            float:left;
                            display:inline;
                        }
                    }
                    label{
                        font-size: 9pt;
                        color: #fff;
                        width:100%;
                        float:left;
                        text-align:center;
                        @media @1024{
                            width:auto;
                            margin-top:-1px;
                            margin-left:4px;
                        }
                    }
                    &:nth-of-type(4){
                        @media @1024{
                            float:right;
                            width:44px;
                            margin-right:0;
                        }
                    }
                }
            }
            .question{
                margin:10px 0 0 0;
                p{
                    text-align:center;
                    color:#fff;
                    line-height:1.4em;
                    font-size:9pt;
                    font-weight:300;
                    margin:0 0 10px;
                    span{
                        @media @1024{
                            display:block;
                        }
                    }
                }
                .options{
                    margin:5px 0 0 0;
                    width:50px;
                    float:left;
                    text-align:center;
                    &:nth-of-type(2n){
                        float:right;
                    }
                    label{
                        font-size: 9pt;
                        color: #fff;
                        position: relative;
                        left: 3px;
                        top:-2px;
                    }
                }
            }
            .volunteer{
                text-align:center;
                margin:20px 0;
                label{
                    text-align:center;
                    color:#fff;
                    line-height:1.4em;
                    font-size:9pt;
                    font-weight:300;
                    margin:0 0 10px 5px;
                }
            }
            .smaller{
                width:90%;
                margin:0 auto;
            }
            .smallest{
                width:140px;
            }
            @media @970{
                width: 42%;
                float: right;
                padding: 40px 5% 30px 12%;
            }
            @media @970{
                width: 43%;
            }
        }
        max-width:800px;
    }
    @media @970{
        margin-top:-30px;
    }
}

.setWhiteBg{
    background:#fff;
}

.logIn{
    .maxWidth{
        .login{
            .bShadow(0px 2px 13px rgba(0, 0, 0, 0.1) );
            .bRadius(5px);
            .gradientTLBR (#36166F, #4BC2F2);
            margin: 80px auto 0;
            @media @970{
                margin: 0 auto 0;
            }
            h2{
                color:#fff;
                margin:0;
                font-size:17pt;
                padding:40px 0 30px;
            }
            form{
                width: 80%;
                margin: 0 auto;
                padding:0 0 1px;
                input{
                    .formInputs;
                    margin:0 0 17px;
                    &:nth-of-type(2){
                        margin:0 0 4px 0;
                    }
                    @media @620{
                        width:90%;
                        &:nth-of-type(2){
                            width:90%;
                        }
                    }
                }
                a{
                    color:#fff;
                    font-size:8pt;
                    .opacity(0.6);
                }
                .cta{
                    margin: 25px auto;
                }
            }
            @media @480{
                max-width:335px;
            }
        }
    }
}

.formInputs{
    .bRadius(5px);
    outline:0;
    border:0;
    width:90%;
    padding:12px 5%;
    .opacity(0.9);
    letter-spacing:0.02em;
    font-family: 'Montserrat', sans-serif;
    .bShadow(0px 2px 13px rgba(0, 0, 0, 0.1) );
    @media @620{
        width: 40%;
        padding: 12px 4%;
    }
}

#eventsHeader{
    .vGradient (#54E7CA, #1C2169);
    padding: 90px 0 40px;
    @media @480{
        padding: 100px 0 50px;
    }
    @media @620{
        padding: 120px 0 90px;
    }

    @media @768{
        padding: 130px 0 110px;
    }
    // img{
    //     position: absolute;
    //     z-index: -1;
    //     opacity:0.3;
    // }
}

.eventsArea{
    float:left;
    width:100%;
    .maxWidth{
        @media @620{
            width:90%;
        }
        @media @768{
            width:74%;
        }
        @media @970{
            width:90%;
        }
        @media @1024{
            width:100%;
        }
    }
    .eventItem,
    img{
        .bRadius(3px);
    }
    .eventItem{
        margin: 0 auto 22px;
        position:relative;
        width: 274px;
        background: #fff;
        height: 262px;
        overflow:hidden;
        .bShadow( 0px 4px 11px 0px rgba(0, 0, 0, 0.06) );
        img{
            background: #000;
            width: 100%;
            height: 100%;
            position: absolute;
            float: left;
            top: 0;
            z-index: 0;
        }
        .eventDetail{
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #fff;
            z-index: 1;
            .eventLeft{
                width: 50px;
                border-radius: 3px;
                height: 70px;
                position: absolute;
                background: #fff;
                z-index: 1;
                bottom: 28px;
                left: 12px;
                p{
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin: 9px 0 0;
                    font-size: 10pt;
                    letter-spacing: 0.02em;
                    span{
                        display: block;
                        font-size: 15pt;
                        margin: -3px 0px 0 0;
                    }
                }
            }
            .eventRight{
                float: right;
                width: 199px;
                p{
                    font-size: 12pt;
                    font-weight: 600;
                    margin: 14px 0;
                    span{
                        display: block;
                        font-weight: 300;
                        font-size: 10pt;
                        margin-top: 3px;
                    }
                }
            }
        }
        @media @620{
            float:left;
            &:nth-of-type(2n){
                float:right;
            }
        }
        @media @970{
            margin-right:2.9%;
            &:nth-of-type(2n){
                float:left;
            }&:nth-of-type(3n){
                float:right;
                margin-right:0;
            }
        }
        @media @1024{
            margin: 0 auto 50px;
            margin-right:8%;
        }
    }
    #eventsTop,
    #eventsBtm{
        float:left;
        width:100%;
        margin: 30px 0 0 0;
        background: #fff;
        h2,
        h3{
            padding: 0;
            margin: 20px 0;
            font-size: 12pt;
            font-weight: 600;
            text-align:center;
            width:100%;
            @media @768{
                text-align:left;
            }
            @media @970{
                font-size: 14pt;
            }
        }
    }
    #eventsTop{
        padding: 0 0 10px 0;
        border-bottom: solid 3px #4D2A7A;
        .eventItem{
            @media @1024{
                margin: 0 auto 22px;
                margin-right:8%;
                &:nth-of-type(3n){
                    float:right;
                    margin-right:0;
                }
            }
        }
    }
    .left,
    .right{
        margin: 20px 0 0 0 ;
        float:left;
        width:100%;
        @media @970{
            margin:0;
        }
    }
    .left{
        margin: 40px 0 0 0 ;
        img{
            background:#000;
            float:left;
            width:100%;
            height:300px;
            .bRadius(4px);
            margin-bottom:30px;
            .bShadow(0px 2px 13px rgba(0, 0, 0, 0.3) );
        }
        h2{
            margin:0;
            font-size: 15pt;
        }
        p{
            line-height:1.6em;
            font-weight:300;
            font-size:9.5pt;
        }
        @media @970{
            float: left;
            width: 57%;
            margin:0;
        }
    }
    .right{
        h1,
        p,
        .price,
        .shareArea,
        .visitorNote,
        .tags{
            margin:0;
            float:left;
            width:100%;
        }
        h1{
            font-size:18pt;
            margin: 0 0 10px 0;
        }
        .eventDetails{
            margin: 8px 0 10px;
            font-weight:600;
            font-size:9.8pt;
            span{
                display:block;
                font-weight:300;
                font-size:9.3pt;
                margin: 3px 0 0 0;
            }
        }
        .price{
            margin: 13px 0 0;
            position:relative;
            .priceLeft{
                float:left;
                width:150px;
                p{
                    margin:0 0 5px 0;
                    font-size:20pt;
                    font-weight:700;
                    color: #B81F82;
                }
                .cta{
                    float:left;
                }
            }
            .priceRight{
                p{
                    font-size:8.5pt;
                    margin:10px 0 0 0;
                    a{
                        color:#000;
                        font-weight:600;
                    }
                }
                @media @480{
                    float:right;
                    position: absolute;
                    bottom: 14px;
                    left: 155px;
                }
            }
        }
        .shareArea{
            margin: 20px 0;
            padding: 13px 0 10px;
            border:solid 1px #ebebeb;
            border-left:0;
            border-right:0;
            p{
                font-size:9.5pt;
                width:176px;
                margin: 0 auto;
                float:none;
                a{
                    color:#1da1f2;
                    .fa{
                        font-size: 14pt;
                        top: -1px;
                        position:relative;
                    }
                    .fa-twitter-square,
                    .fa-facebook-square{
                        float:right;
                    }
                    .fa-facebook-square{
                        margin-right:9px;
                    }
                    &:nth-of-type(2){
                        color:#4267b2;
                    }
                }

            }
        }
        .visitorNote{
            font-size:9pt;
            font-weight:600;
            color: @purple;
            margin:0 0 20px 0;
        }
        .tags{
            margin:0;
            padding:0;
            i,
            li{
                float:left;
            }
            i{
                margin: 2px 15px 0 0;
                font-size: 10.5pt;
            }
            li{
                list-style:none;
                font-style:italic;
                margin-right:5px;
                font-size:9pt;
            }
        }
        @media @970{
            float:right;
            width:40%;
        }
    }
}

.single-event{
    @media @970{
        margin: -100px 0 0 0;
    }
    #eventsBtm{
        margin:0;
        h3{
            text-align:left;
            a{
                float:right;
                font-size: 10pt;
                padding-top: 5px;
                color:#a8a8a8;
                font-weight:500;
                text-decoration:none;
            }
        }
    }
}

.resourceArea{
    margin:30px 0 0 0;
    .maxWidth{
        @media @620{
            width:80%;
        }
        @media @768{
            width:65%;
        }
        @media @970{
            width:810px;
        }
        h2{
            font-size:13pt;
            @media @768{
                text-align:left;
            }
            margin: 15px 0 25px;
        }
        .resourceCard{
            @media @620{
                &:nth-of-type(2n){
                    float:right;
                }
            }
            @media @970{
                margin:0 7.4% 50px 0;
                &:nth-of-type(2n){
                    float:left;
                }
                &:nth-of-type(3n){
                    float:right;
                    margin-right:0;
                }
            }
        }
    }
}

#resourceHeader{
    .vGradient (#E75491, #561C69);
    padding: 70px 0 60px;
    position:relative;
    @media @480{
        padding: 90px 0 80px;
    }
    @media @620{
        padding: 120px 0 90px;
    }

    @media @768{
        padding: 130px 0 110px;
    }
    .bars{
        float:left;
        width:100%;
        position:absolute;
        bottom:-168px;
        height:200px;
        overflow:hidden;
        border-bottom:solid 4px rgba(255,255,255,0.2);
        @media @480{
            bottom:-138px;
        }
        ul{
            margin:0;
            padding:0;
            float:left;
            width:150%;
            li{
                float:left;
                list-style:none;
                background:#fff;
                height:200px;
                width:8%;
                .opacity(0.1);
                .bRadius(3px);
                margin-top:1px;
                .barAnim4;
                &:nth-of-type(2n){
                    margin-top:10px;
                    .opacity(0.2);
                    .barAnim3;
                }
                &:nth-of-type(3n){
                    margin-top:27px;
                    .opacity(0.3);
                    .barAnim2;
                }
                &:nth-of-type(4n){
                    margin-top:0px;
                    .opacity(0.2);
                    .barAnim;
                }
                @media @768{
                    width:6%;
                }
                @media @970{
                    width:5%;
                }
                @media @1024{
                    width:4%;
                }
            }
        }
    }
}

.barAnim {
  animation: resize 2s infinite;
}
@keyframes resize {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 4px;
  }
  100% {
    margin-top: 0px;
  }
}

.barAnim2 {
  animation: resize2 5s infinite;
}
@keyframes resize2 {
  0% {
    margin-top: 27px;
  }
  50% {
    margin-top: 41px;
  }
  100% {
    margin-top: 27px;
  }
}

.barAnim3 {
  animation: resize3 3s infinite;
}
@keyframes resize3 {
  0% {
    margin-top: 10px;
  }
  50% {
    margin-top: 6px;
  }
  100% {
    margin-top: 10px;
  }
}

.barAnim4 {
  animation: resize4 7s infinite;
}
@keyframes resize4 {
  0% {
    margin-top: 1px;
  }
  50% {
    margin-top: 22px;
  }
  100% {
    margin-top: 1px;
  }
}

#eventPageStyle{
    background:#fff;
    .partners{
        margin:0px 0 30px;
    }
}


#donorHeader{
    .vGradient (#367D96, #1C2169);
    padding: 90px 0 40px;
    font-size:12pt;
    @media @480{
        padding: 100px 0 50px;
    }
    @media @620{
        padding: 120px 0 90px;
    }
    @media @768{
        padding: 130px 0 110px;
        h1{
            font-size:26pt;
        }
    }
    .cta{
        width: 278px;
        margin: 24px auto 0;
    }
}


.donorsArea{
    padding:40px 0;
    .pagePanel;
    background:#fff;
    .maxWidth{
        @media @768{
            width:691px;
        }
        @media @970{
            width:763px;
        }
        .donorItem{
            .bRadius(3px);
            overflow:hidden;
            width:215px;
            .bShadow(0px 2px 13px rgba(0, 0, 0, 0.1) );
            height:213px;
            background:#fff;
            margin: 0 auto 30px;
            position:relative;
            p{
                font-weight: 600;
                text-align: center;
                width: 100%;
                color: #CD5F99;
                margin: 23px 0 6px;
                float: left;
                font-size: 11pt;
            }
            .donorImgWrap{
                float: left;
                width: 100%;
                margin: 18px 0 0 0;
                position:relative;
                .donorImg{
                    width:128px;
                    height:128px;
                    margin: 0 auto;
                    position:relative;
                    background:#fff;
                    .bRadius(50%);
                    z-index:2;
                    .bShadow(inset 0px 2px 14px rgba(0, 0, 0, 0.2) );
                }
                img{
                    width: 100%;
                    max-width: 120px;
                    text-align: center;
                    position: absolute;
                    top: 48px;
                    z-index:3;
                    left: 50px;
                }
            }
            .bgDesignOne,
            .bgDesignTwo{
                position:absolute;
                padding:60px 0;
                float:left;
                width:100%;
                width:400px;
            }
            .bgDesignOne{
                background:#6B1156;
                bottom:-52px;
                z-index:0;
                .skew(0deg, 6deg);
            }
            .bgDesignTwo{
                background:#F36197;
                .opacity(0.4);
                bottom:-9px;
                z-index:0;
                .skew(0deg, -14deg);
            }
            @media @768{
                float:left;
                margin-right:3.3%;
                &:nth-of-type(3n){
                    float:right;
                    margin-right:0;
                }
            }
            @media @970{
                margin-right:7.7%;
                margin-bottom:40px;
            }
        }
        .donorsBtm{
            width:100%;
            float:left;
            h3{
                font-size:13pt;
                width:100%;
                float:left;
                color:#337190;
                font-weight:600;
                margin:0 0 30px ;
                text-align:center;

            }
            ul{
                padding:0;
                margin:0;
                float:left;
                width:100%;
                li{
                    width: 100%;
                    text-align: center;
                    padding: 0 0 20px;
                    list-style: none;
                    font-weight: 300;
                    font-size: 11pt;
                    text-align:center;
                    @media @620{
                        width:50%;
                        float:left;
                    }
                    @media @768{
                        width:33.3%;
                    }
                }
            }
        }

    }
}

.noTopMargin{
    margin-top:0;
}

.footerPages{
    float:left;
    width:100%;
    @media @970{
        margin-top: -153px;
    }
    #menu{
        width:100%;
        float:left;
        text-align:center;
        margin:-20px 0 10px;
        padding:32px 0 18px;
        font-size:11pt;
        color:#fff;
        background:@purple;
        @media @768{
            display:none;
        }
        .fa{
            font-size:10pt;
            margin-left:2px;
        }
    }
    .sideBar{
        margin: 0 0 40px 0;
        float:left;
        display:none;
        width:100%;
        background:#f8f8f8;
        ul{
            padding:0;
            float:left;
            width:100%;
            h3,
            li{
                font-size:10pt;
                width:100%;
                text-align:center;
            }
            h3{
                margin:25px 0 10px;
            }
            li{
                list-style:none;
                margin:0;
                a{
                    padding:15px 0;
                    border:none;
                    display:block;
                    color:#000;
                    text-decoration:none;
                }
            }
        }
        @media @768{
            float: left;
            width: 236px;
            display: block;
            margin-top: -30px;
            padding-top: 67px;
            border-right: solid 1px #EDEDED;
            height:100vw;
            ul{
                width:150px;
                margin:0 auto 0;
                float:none;
                li,
                h3{
                    text-align:left;
                }
            }
        }
    }
    .main{
        float:left;
        width:100%;
        background:#fff;
        .maxWidth{
            h1{
                font-size:20pt;
            }
            p{
                font-size:10pt;
                line-height:2.2em;
                .sectionTitle{
                    font-weight:600;
                    display:block;
                }
            }
        }
        @media @768{
            float:left;
            width:65%;
            margin-left:30px;
            padding-top:40px;
        }
    }
}

footer{
    width:100%;
    float:left;
    margin: -90px 0 0 0;
    #footerWrap{
        overflow:hidden;
        width:100%;
        #footerInner{
            .gradientTLBR (#5D98FF, #1CBDF0);
            .skew(0deg, -2deg);
            position: relative;
            padding: 30px 0 37px;
            top: 15px;
            img{
                margin:0 auto;
                display:block;
                .skew(0deg, 2deg);
            }
            nav{
                width:90%;
                margin:10px auto;
                .skew(0deg, 2deg);
                @media @970{
                    width: 80%;
                    display: table;
                }
                a{
                    width:25%;
                    color:#000;
                    padding:20px 0;
                    float:left;
                    text-align:center;
                    text-decoration:none;
                }
            }
            address{
                .skew(0deg, 2deg);
                width: 80%;
                margin: 20px auto 0;
                text-align: center;
                letter-spacing:0.02em;
                font-size: 10pt;
                position:relative;
                z-index:-1;
            }
            @media @970{
                top:35px;
                padding:30px 0 67px;
            }
        }
    }
}

.noMargin{
    margin: 0;
}

.nudgeFtr{
    margin: 20px 0 0 0;
}
