html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
}


/*=====================*/
      /* ABOUT */
/*=====================*/

.main-about-bg-img {
  background-image: url("https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/main-hero.png");
}

.about-bg-img-1{
  background-image: url('https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/keoki.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-bg-img-event{
  background-image: url('https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/Events/vr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}