html, body {
  height:100%;
  margin: 0;
  padding: 0;

}

.orange-local {
  color: #ffae00;
}

.orange-local-bg {
  background-color: #ffae00;
}

.pink-local {
  color: #ff007e;
}

.black-underlay-bg {
  background-color: rgba(000,000,000,0.1);
}

.scroll {
  overflow-y: scroll;
}

.fa-15{
  font-size: 15rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.a-no-border:hover {
  border-bottom: none;
}

a:hover {
  border-bottom: 3px solid #637bbf;
}

.vw-100 {
  width: 100vw;
}

.b0{
  bottom: 0;
}
/*=====================*/
      /* HOME */
/*=====================*/

.main-hero {
  background-image: url("https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/main-hero.png");
}

@media (min-width: 320px) and (max-width: 799px){
  .main-hero {
    background-image: url("https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/main-hero-mobile.png");
  }
}