html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

.orange-local {
  color: #ffae00;
}

.orange-local-bg {
  background-color: #ffae00;
}

.pink-local {
  color: #ff007e;
}

.black-underlay-bg {
  background-color: rgba(000,000,000,0.1);
}

.scroll {
  overflow-y: scroll;
}

.fa-15{
  font-size: 15rem;
}

.b0{
  bottom: 0;
}

.triangle-bottom-yellow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 800px;
  border-color: transparent transparent #FBF1A9 transparent;
  position:fixed;
  right: 0;
  bottom: 0;
}

.triangle-top-yellow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 300px 100px 0 600px;
  border-color: #FBF1A9 transparent transparent transparent;
  position:fixed;
  top:0;
  right: 40rem;
}

.triangle-bottom-green {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 800px;
  border-color: transparent transparent #9eebcf transparent;
  position:fixed;
  right: 0;
  bottom: 0;
}

.triangle-top-green {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 300px 100px 0 600px;
  border-color: #9eebcf transparent transparent transparent;
  position:fixed;
  top:0;
  right: 40rem;
}
/*=====================*/
      /* HOME */
/*=====================*/

.main-hero {
  background-image: url("https://s3-eu-west-1.amazonaws.com/blackgirl.tech/images/main-hero.png");
}
